
.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

.the_mgt_members_wrapper {
    padding: 150px 0 1200px;
}

.each_mgt_member {
    width: 31.33%;
    float: left;
    margin: 0 1% 50px;
    border-radius: 6px 6px 0 0;
}

.each_mgt_member .bod_member_img {
    height: 425px;
}

.bod_member_img img {
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}

.the_mgt_members_wrapper {
    padding: 150px 0 1200px;
}

.event_bannerr {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    /* height: 338px; */
    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_content_divv {
    width: 86%;
    
}

.banner_content_divv p {
    font-size: 25px;
}

.banner_content_divv > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 53px;
    line-height: 150%;
}

.bod_mem_post {
    text-align: right;
}

.bod_name_n_deg {
    padding-right: 12px;
}

.bod_name_n_deg h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: rgba(31, 31, 33, 0.95);
    margin-bottom: 3px;
}

.bod_name_n_deg p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: rgb(106, 107, 108);
}

.bod_mem_post p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(123, 123, 123);
}