 .dash_left_side {
     width: 65%;
     height: 100vh;
     position: relative;
 }

 .dash_right_side {
     /* background-color: red; */
     width: 35%;
 }

 .left_left {
     position: absolute;
     top: 0;
     left: 0;
     width: 65%;
     height: 100%;
     background: linear-gradient(rgb(0, 101, 153, 0.6), rgb(0, 101, 153, 0.6)), url("../../utils/images/14181.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top center;
 }

 .left_right {
     position: absolute;
     top: 0;
     right: 0;
     width: 35%;
     height: 100%;
     background-color: #F0F8FB;
 }


 .main_actions {
     position: absolute;
     top: 0;
     width: 80%;
     right: 0;
     border-radius: 30px 0 0 30px;
     height: 100%;
     /* background-color: #fff; */
 }

 .action_header {
     padding: 50px 0 30px 50px;
 }

 .action_header a {
     color: white;
     font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;

     transition: .4s;
 }

 .action_header a:hover {
     color: rgb(252, 252, 252, 0.5);
     text-decoration: none;
 }

 .action_sections {
     width: 100%;
     border-radius: 30px 0 0 30px;
     height: 75vh;
     background-color: #fff;
     padding: 70px 90px 70px 60px;

     overflow-y: scroll;
 }



 .action_footer {
     padding: 40px 0 30px 120px;
 }

 .action_footer>div {
     padding: 0 20px;
 }

 .action_footer>div a {
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: rgb(252, 252, 252, 0.5);

     transition: .4s;
 }

 .action_footer>div a:hover {
     color: #fff;
     text-decoration: none;
 }

 .dash_right_header {
     padding: 30px 60px 30px 0;
 }

 .first_stage_down {
     width: 100%;
 }

 .first_stage_down_header {
     width: 100%;
     /* margin-bottom: ; */
 }

 .insurance_header_text {
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #344248;
 }

 .insurance_subheader_text {
     margin-top: 10px;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 19px;
     color: rgb(52, 66, 72, 0.5);
 }

 .onboard_input_wrapper {
     /* login and dashboards */
     width: 70%;
     margin-right: 30%;
 }

 .onboard_input_div {
     /* login and dashboards */
     background: #FFFFFF;
     border: 1px solid rgba(52, 66, 72, 0.1);
     padding: 5px 0;
     border-radius: 6px;
     margin: 20px 0;

     height: 64px;

     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
 }

 .onboard_input_div label {
     /* login and dashboards */
     padding-left: 25px;
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 14px;
     color: rgba(52, 66, 72, 0.4);

     transform: translateY(20px);
     transition: .6s;
     cursor: text;
 }

 .onboard_input_div input {
     /* login and dashboards */
     border: none;
     width: 100%;
     padding-left: 25px;


     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: #344248;
 }



 .onboard_input_div input:focus {
     /* login and dashboards */
     outline: none;
 }



 .input_side {
     /* login and dashboards */
     width: 90%;
     position: relative;

     transition: border-left .6s;

     height: 100%;
 }

 .icon_side {
     /* login and dashboards */
     width: 10%;
     color: rgba(137, 141, 146, 0.5);
 }

 .input_side label,
 .input_side input {
     /* login and dashboards */
     position: absolute;
     top: 0;
 }

 .input_side input {
     /* login and dashboards */
     height: 100%;
 }

 .input_side label {
     /* login and dashboards */
     z-index: 1;
 }

 .top_nav {
     padding: 25px 0;
 }

 .login_btn {
     margin-left: auto;
 }

 .sure_full_width {
     padding-bottom: 30px;
     border-bottom: 1px solid rgb(2, 42, 63, 0.08);
 }

 .sure_full_width>div {
     width: 100% !important;
 }

 .policy_radios>div {
     width: 47%;
     padding: 15px 30px;
     background: #F3F7FC;
     border-radius: 5px;
 }

 .policy_radios>div>label {
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #9195A0;
 }

 .radios_title {
     padding: 20px 0;

     font-style: normal;
     font-weight: 500;
     font-size: 12px;
     color: rgb(52, 66, 72, 0.6);
 }

 .debit_card_pay_div {
     font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 17px;
     color: rgb(52, 66, 72, 0.65);

     padding: 40px 0 0px 0;
 }

 .back_n_continue_btn {
     padding: 40px 0 60px;
 }

 .back_n_continue_btn .backk_btn button {
     width: 99px;
     height: 40px;
     background: transparent;
     border: 1px solid #03293D;
     border-radius: 4px;

     font-style: normal;
     font-weight: bold;
     font-size: 14px;
     letter-spacing: 0.5px;
     color: #03293D;

 }


 .back_n_continue_btn .continue_btnn button {
     width: 145px;
     height: 40px;
     background-color: #2E99CB;
     border-radius: 5px;

     color: #fff;
     border: none;
     transition: .4s;
 }

 .back_n_continue_btn .continue_btnn button:hover {
     background-color: rgb(33, 127, 171);
 }

 .policy_radios>div>label {
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     color: #9195A0;
 }

 .insurance_steps {
     width: 100%;
     padding-left: 20px;
 }




 .insurance_steps {
     width: 100%;
     padding-left: 20px;
 }

 .motor_image {
     padding: 50px 0 30px 0;
 }

 .insurance_name_n_desc h2 {
     font-style: normal;
     font-weight: 500;
     font-size: 35px;
     line-height: 135%;
     color: #006599;
 }

 .insurance_name_n_desc p {
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 163.35%;
     color: rgb(52, 66, 72, 0.6);
 }

 .insurance_step_list {
     padding-top: 35px;
 }

 .each_list {
     margin-bottom: 20px;
 }

 .each_list .step_number {
     margin-right: 20px;
 }

 .step_number {
     border-radius: 50%;
     background-color: rgb(0, 101, 153, 0.05);

     width: 35px;
     height: 35px;
 }

 .step_number p {

     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     color: rgb(0, 101, 153, 0.25);
 }

 .ins_active .step_number {
     background-color: #006599;
     color: #fff;
 }

 .each_list .step_name h4 {
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 21px;
     color: rgb(3, 41, 61, 0.25);
 }

 .each_list .step_name p {
     margin-top: 6px;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 17px;
     color: rgb(52, 66, 72, 0.5);

     display: none;
 }

 .ins_active .step_number p {
     color: #fff;

 }

 .ins_active .step_name h4 {
     color: #344248;
 }

 .ins_active .step_name p {
     display: block;
 }

 .ins_done {}

 .insurance_header_text {
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 28px;
     color: #344248;
 }

 .insurance_subheader_text {
     margin-top: 10px;
     font-style: normal;
     font-weight: normal;
     font-size: 14px;
     line-height: 19px;
     color: rgb(52, 66, 72, 0.5);
 }

 .cover_types_options>a>div {
     /* border: 1px solid #FF9934; */
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
     border-radius: 10px;

     width: 172px;
     padding: 20px;
     position: relative;
 }

 .cover_types_options>a:hover {
     text-decoration: none;
 }

 .check_mak {
     text-align: right;
     color: #FF9934;
     font-size: 30px;

     padding-right: 20px;
     display: none;

     position: absolute;
     left: 0;
     top: -10px;

 }

 .cover_types {
     padding-top: 60px;
 }

 .cover_types_header_text {
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 16px;
     color: rgb(3, 41, 61, 0.3);
     margin-bottom: 30px;
 }

 .cover_types_options_name {
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: rgb(52, 66, 72, 0.6);
 }

 .notify_red {
     width: 11px;
     height: 11px;
     border-radius: 50%;
     background-color: red;

     /* transform: translateY(-5px); */
 }

 .notify_bell i {
     color: #344248;
     font-size: 22px;
 }

 .for_image {
     width: 48px;
     height: 48px;
     background: #344248;
     border: 1px solid #FF9934;
     border-radius: 50%;
 }

 .dash_user_name {
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     letter-spacing: 0.0115367em;
     color: #4F4F4F;
 }

 .dash_user_mail {
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 0.0115367em;
     color: #FF9934;
 }