.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(../../utils/images/eventBanner.png);
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

.join_team_page {
    padding: 110px 0 150px;
}

.avail_jobs {
    padding: 60px 60px 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: .4s;
    cursor: pointer;
}

.avail_jobs:hover {
    background: white;
box-shadow: 0px 9px 37px rgba(0, 0, 0, 0.03);
border-radius: 10px;
border-bottom: none;
}

.job_title_n_location {
    width: 40%;
}

.job_title_n_location > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #006599;
    margin-bottom: 15px;
}

.job_title_n_location p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(40, 40, 40, 0.5);
}

.avail_jobs > div.job_desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #898D92;
}

.job_desc {
    width: 60%;
}

.join_team_page {
    padding: 110px 0 150px;
}