.buy_online_header {
    padding: 80px 0 150px;
    
}

.buy_online_header h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    color: #006599;
}

.buy_online_header p {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 165%;
color: rgb(0, 101, 153, 0.6);
}

.vbvb {
    /* height: 300px; */

    background: rgba(137, 141, 146, 0.1);
box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.1);
overflow: auto;

display: flex;
flex-flow: row wrap;
}

section.buy_insurances {
    padding-bottom: 150px;
}

.buy_insurances_wrapper {
    width: 100%
}

.each_insurance {
    width: 33.20%;
    /* height: 200px; */
    overflow: auto;
    margin: 0 calc((33.333% - 33.20% ) / 2) 1.5px;
    background-color: #fff;
    float: left;

    padding: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.each_insurance h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #006599;
}

.each_insurance p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #C4C4C4;
margin: 15px 0 35px;
}

.each_insurance a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #006599;
transition: .5s;
}

.each_insurance a:hover {
    text-decoration: none;
    color: #FF9934;
}

.each_insurance_img {
    padding-right: 40px;
}