.side_nav {
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    float: left;
    box-shadow: 3px 0 10px rgba(0, 101, 153, 0.05);
}

.dashboard_content {
    width: 80%;
    margin-left:20%;
    height: 300px;
    /* background-color: #E5E5E5; */
    float: left;
}


.dashboard_logo {
    padding: 30px 0; 
}

.dashbod_links, .dash_logout_btn {
    padding: 30px 0;
}

.dashbod_links > a {
    display: block;
    padding: 20px 0 20px 20%;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0115367em;
    color: rgb(52, 66, 72,0.5);
    transition: .4s;
}

.dashbod_links > a:hover {
    background-color: rgb(0, 101, 153,0.05);
    color: #006599;
    text-decoration: none;
}

.dashbod_links > a i, .dash_logout_btn > a i {
    font-size: 20px;
}

.dash_logout_btn {
    border-top: 1px solid rgb(0, 101, 153,0.1);
    margin-top: 80px;
}

.dash_logout_btn > a {
    display: block;
    padding: 20px 0 20px 20%;

    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.0115367em;
color: #FF9934;
transition: .4s;
}

.dash_logout_btn > a:hover {
    text-decoration: none;
    color: rgb(150, 84, 18);
}

.dash_summary_header {
    padding: 60px 0 130px;
    border-radius: 0px 0px 50px 50px;
    background: linear-gradient(234.55deg, #006599 42.21%, #54C4CF 146.94%);
}

.dash_user_imagee {
    width: 48px;
height: 48px;
background: #FCFCFC;
border-radius: 50%;
}

.bell_notify {
    color: #FCFCFC;
    font-size: 25px;
}

.dash_user_namee p {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.0115367em;
color: #FCFCFC;
}

.dashB_user_mail p {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.0115367em;
color: rgb(252, 252, 252,0.8);
}

.dash_greetings h4 {
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
color: #FCFCFC;
}

.dash_greetings p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(252, 252, 252,0.5);
margin-top: 10px;
}

.dash_greetings {
    padding-top: 50px;
}

.dash_total_cards > div {
    width: 46%;
    padding: 50px 60px;

    background: #FFFFFF;

border: 1px solid #F2F2F2;
border-radius: 10px;
}


.dashb_cards {
    transform: translateY(-90px);
}

.total_texts p {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #344248;
}

.total_texts h3 {
    font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 59px;
color: #344248;
margin: 13px 0;
}

.total_texts span {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72,0.5);
}

.dash_table table {
    width: 100%;

    background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.dash_table table tr th, .dash_table table tr td {
    padding: 25px 0px 25px 25px;
}

.dash_table table tr th {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-transform: capitalize;
color: #B2B7BC;
}

.dash_table table tr td {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #898D92;
}

.dash_table table tr td.amount {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #B0C5DA;
}

.dash_table table tbody tr:hover {
    background: rgb(0, 101, 153,0.02);
}

.dash_table table thead {
border-bottom: 1px solid rgb(178, 183, 188,0.2);
}

.dash_table table tbody tr:not(:last-child) {
    border-bottom: 1px dashed rgb(0, 101, 153,0.2);
}

.dash_table_header h5 {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #344248;
}

.dash_table_header {
    padding-bottom: 30px;
}

.dash_table_row {
    padding-bottom: 130px;
}

.dashB_right_header {
    padding: 60px 0 80px 0;
}

.transaction_table_header .recent_text h5 {
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
color: #344248;
}

.transaction_table_header .recent_text p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72,0.5);
margin-top: 12px;
}

.transaction_table_header {
    padding-bottom: 50px;
}

.clear_all_trans p a {
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 14px;
color: #006599;

transition: letter-spacing .4s;
}

.clear_all_trans p a:hover {
    text-decoration: none;
    letter-spacing: .5px;
}

.table_pages_link div {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 6px;
    background-color: #fff;
    color: #fff;
    cursor: pointer;

    transition: .35s;
}

.table_pages_link div p {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #898D92;

}

.table_pages_link div:hover {
    background-color: var(--site_blue);
}

.table_pages_link div:hover p {
    color: #fff;
}

.table_pages_link div.active_bred {
    background-color: var(--site_blue);
  
}

.table_pages_link div.active_bred p {
    color: #fff;
}

.table_nav {
    padding: 40px 0;
    border-top: 1px dashed rgb(0, 101, 153,0.2);
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

button.active_btn {
    width: 121px;
height: 31px;

background-color: #4AC8AD;
border-radius: 3px;


font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FCFCFC;
border: none;
}

button.not_active_btn {
    width: 121px;
height: 31px;

background-color: #C4C4C4;;
border-radius: 3px;


font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FCFCFC;
border: none;
}

.quote_details_wrapper > div {
    width: 48%;
    
}

.placehoder_name_wrapper {
    padding: 45px 35px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 101, 153, 0.05);
}


.placehoder_name_wrapper > table {
    width: 100%;
}

.placehoder_name_wrapper > table > tr > td {
    width: 50% !important;
    
}

.placehoder_name_wrapper td {
   padding: 20px 0 !important;
}

.placehoder_name_wrapper td.title {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 135%;
color: #344248;
}

.placehoder_name_wrapper td.title ~ td {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 135%;

color: #344248;
}

.quote_details_right_side > div, .quote_details_left_side > div {
    margin-bottom: 30px;
}

.export_to_pdf {
    border: none;
    width: 220px;
height: 40px;

background: #2E99CB;
border-radius: 5px;

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;

transition: .4s;
}

.export_to_pdf:hover {
    background: rgb(30, 114, 154);
}

.settings_navigator {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}

.settings_navigator > div {
    padding: 0 60px 20px 0;
    /* margin: 0 60px 0 0; */

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.settings_element {
    padding: 70px 0;
}

.settings_element > div {
    width: 45%;

    /* background-color: #fff;
    height: 300px; */
}

.sett_for_head_header h5 {
    font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
color: rgb(52, 66, 72,0.5);
}

.sett_for_head_header p {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
color: #344248;
}

.update_set button {
    width: 145px;
height: 40px;
background: #2E99CB;
border-radius: 5px;
border: none;

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

.update_set {
    margin-top: 70px;

}

.setting_right_part {
    background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
border-radius: 10px;
padding: 70px;
}

.prof_img {
    width: 156px;
height: 156px;
background: #E3E6EA;
border-radius: 155px;
border-radius: 50%;
margin: 40px auto;
}

.setting_right_part p {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: rgb(52, 66, 72,0.5);
}

.change_prof_img button {
    width: 237px;
height: 46px;
background: #2E99CB;
border-radius: 5px;
border: none;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.5px;

color: #FFFFFF;
}

.delete_img a {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.5px;

color: #CE3D29;
}

.delete_img a:hover {
    text-decoration: none;
}

.settings_navigator > div p {
    cursor: pointer;

    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.02em;
color: rgb(52, 66, 72, 0.5);
transition: .4s;
}

.settings_navigator > div p {
    position: relative;
}

.settings_navigator > div p:after {
    position: absolute;
    content: "";

    top: 193%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #006599;
    transition: height .4s;
}

.settings_navigator > div p:hover:after {
    height: 2.5px;
}

.settings_navigator > div p:hover {
    color:  #006599;
}

#for_password_change {
    display: none;
}









/*  */

.goto_blog {
    text-align: right;
}

.goto_blog a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #014886;
transition: .4s;
}

.goto_blog a:hover {
    text-decoration: none;
    letter-spacing: .5s;
}

.goto_blog {
    padding: 0 0 80px;
}

.products_n_servies ul {
    display: none;
}

.serv_topp {
    cursor: pointer;
}

.for_servv {
    position: relative;
    overflow: hidden;

    background-color: #006599
}