.futa_wrapper {
    background-color: rgb(0, 101, 153, 0.1);
    width: 100%;
    padding: 0 0 100px;
}

.futa {
    position: relative;
    padding: 0 0 60px;
    
}

.futa_header {
    width: 100%;
    position: absolute;
    padding: 30px 20px;
    background-color: var(--site_blue);
    top: calc(-97.33px / 2);
    
}


.futa_header > div {
    padding: 0 40px;
}

.futa_header > div a {
    
    color: #d6d6d6;
    font-size: 25px;
    transition: .4s;
}

.futa_header > div a:hover {
    color: #a4a4a4;
}

.futa_link_section {
    width: 50%;
}

.futa_links {
    padding: 100px 0;
}

.futa_link_each h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    color: rgba(31, 31, 33, 0.95);
    margin-bottom: 30px;
}

.futa_link_each a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: rgba(31, 31, 33, 0.7);
    margin: 10px 0;

    transition: .3s;
}

.futa_link_each a:hover {
    text-decoration: none;
    color: var(--site_blue);
}

.futa_sub_form {
    padding: 6px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 101, 153, 0.33);
    border-radius: 10px;
}

.futa_sub_form input {
    border: none;
}

.futa_sub_form input[type=submit] {
    background: var(--site_blue);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .4s;

    font-size: 12px;
    line-height: 165%;
    width: 90px;
    height: 42px;
}

.futa_sub_form input[type=submit]:hover {
    background-color: #03527a;
}

.futa_sub_form input[type=text] {
    width: 300px;
    padding-left: 20px;
}

.futa_sub_form input[type=submit]:focus,
.futa_sub_form input[type=text]:focus
{
    outline: none;
}

.futa_sub_form_wrapper > label {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: var(--site_blue);
}