
/* Start of General Site style */ 


* {
    box-sizing: border-box;  
}

::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    /* background-color: #fff;
    border-radius: 10px; */

    background-color: #D3D4D8;
border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(177, 177, 177);
  }


:root {
    --site_blue: #006599;
    --link_hover: #034f75;
    --blog_img_overlay: #00669966;
}

a, p, h1, h2, h3, h4, h5, h6, body, html {
    margin: 0;
    padding: 0;
}

.site_row {
    width: 100%;
    overflow: auto;
}

.site_row2 {
    width: 100%;
    padding: 100px 0;
}

.site_row3 {
    width: 100%;
}

.site_center {
    width: 85%;
    margin: 0 auto;
}

.dashboard_center {
    width: 80%;
    margin: 0 auto;
}

.site_center_new {
    width: 70%;
    margin: 0 auto;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row_wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex_row_wrap_center_all {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex_row_wrap_justify_between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex_row_justify_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_row_justify_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_row_justify_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_row_justify_end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex_row_align_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_row_align_n_justify_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_row_align_center_n_justify_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_row_align_center_n_justify_end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex_row_align_center_justify_start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex_row_center_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_col_wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex_col_justify_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_col_center_all {
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
}

button {
    cursor: pointer;
    transition: .4s;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(4px);
}

.align_text {
    text-align: center;
}

.input_div {
    width: 100%;
    margin: 20px 0;
}

.input_div label {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 207.9%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FCFCFC;
}

.input_div input, .input_div textarea {
    width: 100%;

    background: #FCFCFC;
    border: 1px solid #F4F4ED;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;
}

.input_div textarea {
    resize: none;
}

.input_div input:focus, .input_div textarea:focus {
    outline: none;
}

.white_color {
    color: #fff;
}

/* End of General Site style */ 

/* Top Nav */

.top_nav {
    padding: 25px 0;
}

.login_btn {
    margin-left: auto;
}

.get_quote_btns > a > button,
.login_btn > a > button 
{
    border-radius: 10px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    
    position: relative;
}

.login_btn > a > button {
    background-color: transparent;
    border: 2px solid var(--site_blue);    
    width: 105px;    
    color: var(--site_blue);
    
}

.get_quote_btns > a > button {
    background-color: var(--site_blue);
    color: #fff;    
    width: 192px;
    border: none;
}

.login_btn> a > button:after,
.get_quote_btns > a > button:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 102, 153, 0.238);
    transition: .09s;
    transition-timing-function: cubic-bezier(.17,.67,.73,.91);
}

.login_btn > a > button:hover:after,
.get_quote_btns > a > button:hover:after
{
    height: 20%;
}


.site_nav_links > div {
    padding: 0 20px;
}

.site_nav_links > div a {
    color: var(--site_blue);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    transition: .3s;

    position: relative;
}

.site_nav_links > div a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -15px;
    left: 0;
    background-color: var(--site_blue);

    transition: .4s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.site_nav_links > div a:hover:after {
    width: 100%;
}

.site_nav_links > div a:hover {
    text-decoration: none;
    color: var(--link_hover);
}

.site_nav_links {
    margin-left: 40px;
}

.get_quote_btns {
    padding-left: 30px;
}

/* Top Nav */


/* Mobile Navigation */

.menu_bars {
    width: 30px;
    /* height: 4px; */
    height: 3px;
    border-radius: 2px;
    background-color: var(--site_blue);
    transition: .4s;
    transform-origin: center;
}

.menu_bars:nth-child(2) {
    margin: 5px 0;
}

.menu_bars_wrapper {
    margin-left: 10px;
    padding: 6px 5px;
    border: 3px solid var(--site_blue);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: linear;
    display: none;

}

.menu_bars_wrapper:active {
    transform: translateY(3px);
}

.menu_bars_wrapper:hover {
    border-color: #f1a85f;
}

.menu_bars_wrapper:hover .menu_bars {
    /* background-color: #ff9934; */
}

/* .menu_bars_wrapper:hover .menu_bars:nth-child(2) {
    opacity: 0;
}

.menu_bars_wrapper:hover .menu_bars:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 5px);
    transform-origin: center;
}

.menu_bars_wrapper:hover .menu_bars:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -4px);
    transform-origin: center;
} */

.all_page_wrapper {
    width: 100%;
    transition: .5s;
}

nav.side_navigation {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: .5s;

    /* background-color: var(--site_blue); */
    background-color: white;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.13);
    overflow-x: hidden;
}

.close_btn_wrapper {
    padding: 25px 15px;
    margin-bottom: 50px;
}

.close_btn_wrapper i {
    font-size: 30px;
    color: var(--site_blue);
    cursor: pointer;
    transition: .4s;
}

.close_btn_wrapper i:hover {
    color: rgb(174, 174, 174);
}

.side_nav_links_wrapper {
    width: 100%;
}

.each_side_link {
    transition: .5s;
    display: block;
    padding: 10px 15px;
    border-left: 5px solid transparent;
}

.each_side_link:hover {
    border-left-color: var(--site_blue);
    /* background-color: #0066995e; */
}

.active_each_side_link {
    border-left-color: var(--site_blue);
}

.each_side_link a {
    color: var(--site_blue);
    font-size: 15px;
    transition: .5s;

}
 
.each_side_link:hover a {
    /* color: white; */
    text-decoration: none;
    letter-spacing: .7px;
}


