
/* Start of Index Page Style */

.header_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../../utils/images/newIndex_banner.png");
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.banner_content_div {
    width: 70%;
    color: #fff;
}

/* .otherpages_header_color {
    color: #FF9934 !important;
} */

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

.banner_content_div > a > button {
    margin-top: 40px;
    border: none;
    background: #FCFCFC;
    border-radius: 5px;
    width: 163px;
    height: 40px;
    color: var(--site_blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    transition: .4s;
}

.banner_content_div > a > button:hover {
    background-color: rgb(223, 223, 223);
}

.second_second {
    padding: 100px 0;
}

.second_second p {
    margin: 30px 0;
}

.second_second a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: var(--site_blue);
    transition: letter-spacing .3s;
}

.second_second a:hover {
    letter-spacing: 1px;
    text-decoration: none;
}

.second_second h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #344248;
}

section.third > div {
    overflow: auto;
    padding: 2px 0;
}


.third_one {
    position: relative;
    overflow: auto;
    height: 400px;

    /* height: 200px; */
}

.third_one img {
    position: absolute;
}

.third_one img.top_vector {
    top: 0;
    left: 0;
    height: 98px;
}

.third_one img.down_vector {
    top: 90px;
    left: 0;
    height: 252px;
}

section.third > div > div.third_one {
    width: 15%;
}

section.third > div > div.third_two {
    width: 41%;
}

section.third > div > div.third_three {
    width: 21.7%;
    background-color: var(--site_blue);
}

section.third > div > div.third_four {
    width: 21.7%;
    background-color: var(--site_blue);
}

.third_two > h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: var(--site_blue);
}

.third_two > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 169.4%;
    color: #898D92;

}

.third_two > p.sub_header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgb(40, 40, 40, 0.5);
    margin: 30px 0 20px;
}

.third_three, .third_four {
    padding: 65px 40px;
    align-items: center;
}

.service_card > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #FCFCFC;
    margin: 20px 0;
}

.service_card > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: #FCFCFC;
}

.dot_img {
    width: 34.3% !important;

    background: url("../../utils/images/Group.png");
    background-repeat: no-repeat;
    background-size: 50% 70%;
    background-position: 80px top;
    z-index: 1;
}

section.six {
    padding: 20px 0 60px;
}

.exp_numbers > div {
    width: 33.33%;
    text-align: center;
}

.exp_header {
    padding: 0px 0 90px;
}

.exp_header h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #344248;
}

.Clients h2, .Policies h2, .Awards h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 118.8%;
}

.Clients h2 {
    color: var(--site_blue);
}

.Policies h2 {
    color: #FF9934;
}

.Awards h2 {
    color: #344248;
}

.exp_numbers > div > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #344248;
    padding-top: 20px;
}

.ccc {
    display: block;
}

.events_img > div {
    width: 30.33%;
    margin: 10px 1.5%;
    float: left;
}

.events_img > div > img {
    width: 100%;
    height: 390px;
    border-radius: 6px 6px 0 0;
}

.event_header {
    padding: 150px 0 100px;
}

.event_header h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 138.1%;
    color: var(--site_blue);
}

.birthDay_sect {
    padding-bottom: 200px;
}

.managers_info p {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: rgba(31, 31, 33, 0.95);
}

.managers_info span {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #898D92;
}

.managers_role {
    text-align: right;
}

.managers_role p {
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: #C4C4C4;
}

.man_info {
    padding: 20px 0 0;
}

.events_img_managers {
    padding: 150px 0;
}

/* Our Servies page */

section.servicesss {
    padding: 120px 0;
}

.servicesss_headeer {
    margin-bottom: 90px;
}

.servicesss_headeer h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 138.1%;
    color: #006599;
}

.products_n_servies > div {
    width: 33.3333%;
}

.products_n_servies  div {
    /* padding-bottom: 40px; */
}

.products_n_servies > div h5 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
color: #FF9934;
margin-bottom: 30px;
}

.products_n_servies > div ul {
    list-style-type: none;
    padding: 0 !important;
}

.products_n_servies > div ul li {
    margin-bottom: 15px;

    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: rgba(31, 31, 33, 0.95);
}

section.index_services_sec {
    padding: 140px;
    background: rgba(0, 101, 153, 0.05);
}

.index_services {

    overflow: auto;
    
}

.index_services_header h4 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 45px;
color: #006599;
}

.index_services_header p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 169.4%;
color: #344248;
margin-top: 25px;
}

.index_services_header {
    margin-bottom: 50px;
}

.each_serv {
    width: 23%;
    margin: 10px 1%;
    padding: 40px;
    background-color: #FCFCFC;
    /* text-align: center; */

    /* float: left; */
}

.each_serv p {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #344248;
}

.for_testimonial {
    padding: 120px 0 0px;
}

.for_testimonial_header h4 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 138.1%;
color: #006599;
}

.testimonial_scroll {
    overflow: scroll;
    padding: 100px 20px 70px;
}

.testimonial_scroll::-webkit-scrollbar {
    display: none;
}

.main_testii {
    overflow: hidden;
}

.each_testimony {
    width: 500px;
    margin-right: 30px;
    float: left;
}

.testi_name h4 {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: rgba(31, 31, 33, 0.95);
}

.testi_image_n_name {
    margin-top: 50px;
    padding: 0 0 0 50px;
}

.testi_image {
    width: 58px;
height: 58px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
border-radius: 50%;
margin-right: 30px;
}

.testimonial_content {
    background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
border-radius: 20px;
padding: 40px;
position: relative;
}

.testimonial_content:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 40px;
    border-style: solid;
    border-color: #e2e2e2 transparent transparent transparent;
    margin-left: 40px;
}

.testimonial_content_image {
    margin-bottom: 30px;
}

.testi_image img {
    width: 38px;
    height: 25px;
}

.testi_main_content p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: rgb(3, 41, 61,0.5);
}

.sixth_sec {
    margin-bottom: 30px;
}

.blog_header_text h3 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 48px;
color: #006599;
}

.blog_header_text {
    padding-bottom: 60px;
    padding-left: 30px;
}

.goto_blog {
    text-align: right;
}

.goto_blog a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #014886;
transition: .4s;
}

.goto_blog a:hover {
    text-decoration: none;
    letter-spacing: .5s;
}

.goto_blog {
    padding: 0 0 80px;
}

/* start of Blog Styles */

.each_blog_post {
    width: 20%;
    margin: 0 2.5%;
    margin-bottom: 70px;
}

.each_blog_post .blog_post_image {
    height: 270px;
    border-radius: 5px 5px 0 0;
    width: 100%;

    position: relative;
}

.blog_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--blog_img_overlay);
    transition: .6s;
    top: 0;
    left: 0;
}

.each_blog_post .blog_post_image:hover .blog_overlay {
    opacity: 1;
    z-index: 1;
}

.each_blog_post .blog_post_image img {
    height: 100%;
    width: 100%;
}

.blog_post_title {
    width: 100%;
    padding: 30px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 31, 33, 0.95);
}

.blog_post_readMore {
    width: 100%;
}

.blog_post_readMore a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: rgba(31, 31, 33, 0.95);
    font-weight: 500;
    position: relative;
}

.blog_post_readMore a:hover {
    text-decoration: none;
}

.blog_post_readMore a:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 160%;
    left: 0;
    bottom: -10px;
    background-color: #2D2E2C;

    transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.blog_post_readMore a:hover:after {
    width: 100%;
}


/* End of blog styles */