* {
    box-sizing: border-box;  
}

/* General Site style */ 

::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    /* background-color: #fff;
    border-radius: 10px; */

    background-color: #D3D4D8;
border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(177, 177, 177);
  }


:root {
    --site_blue: #006599;
    --link_hover: #034f75;
    --blog_img_overlay: #00669966;
}

a, p, h1, h2, h3, h4, h5, h6, body, html {
    margin: 0;
    padding: 0;
}

.site_row {
    width: 100%;
    overflow: auto;
}

.site_row2 {
    width: 100%;
    padding: 100px 0;
}

.site_row3 {
    width: 100%;
}

.site_center {
    width: 85%;
    margin: 0 auto;
}

.dashboard_center {
    width: 80%;
    margin: 0 auto;
}

.site_center_new {
    width: 70%;
    margin: 0 auto;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row_wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex_row_wrap_center_all {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex_row_wrap_justify_between {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex_row_justify_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_row_justify_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_row_justify_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_row_justify_end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex_row_align_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_row_align_n_justify_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_row_align_center_n_justify_between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex_row_align_center_n_justify_end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex_row_align_center_justify_start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex_row_center_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex_col_wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex_col_justify_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex_col_center_all {
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    align-items: center;
}

button {
    cursor: pointer;
    transition: .4s;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(4px);
}

.align_text {
    text-align: center;
}

.input_div {
    width: 100%;
    margin: 20px 0;
}

.input_div label {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 207.9%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FCFCFC;
}

.input_div input, .input_div textarea {
    width: 100%;

    background: #FCFCFC;
    border: 1px solid #F4F4ED;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;
}

.input_div textarea {
    resize: none;
}

.input_div input:focus, .input_div textarea:focus {
    outline: none;
}

button.send_contact_message { /* Contact Us page btn */
    width: 215px;
height: 54px;
background: #FF9934;
border-radius: 10px;
color: #fff;

font-weight: 500;
font-size: 13.5px;
line-height: 16px;
letter-spacing: 2px;
text-transform: capitalize;
border: none;
transition: .4s;

}

button.send_contact_message:hover { /* login and dashboards */
    background: rgb(223, 131, 39);
}

.white_color {
    color: #fff;
}

.onboard_input_wrapper { /* login and dashboards */
    width: 70%;
    margin-right: 30%;
}

.onboard_input_div { /* login and dashboards */
    background: #FFFFFF;
    border: 1px solid rgba(52, 66, 72, 0.1);
    padding: 5px 0;
    border-radius: 6px;
    margin: 20px 0;

    height: 64px;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.onboard_input_div label { /* login and dashboards */
    padding-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: rgba(52, 66, 72, 0.4);

    transform: translateY(20px);
    transition: .6s;
    cursor: text;
}

.onboard_input_div input { /* login and dashboards */
    border: none;
    width: 100%;
    padding-left: 25px;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #344248;
}



.onboard_input_div input:focus  { /* login and dashboards */
    outline: none;
}



.input_side { /* login and dashboards */
    width: 90%;
    position: relative;

    transition: border-left .6s;
    
    height: 100%;
}

.icon_side { /* login and dashboards */
    width: 10%;
    color: rgba(137, 141, 146, 0.5);
}

.input_side label, .input_side input { /* login and dashboards */
    position: absolute;
    top: 0;
}

.input_side input { /* login and dashboards */
    height: 100%;
}

.input_side label { /* login and dashboards */
    z-index: 1;
}

/* End of general syte style */

/* Index Page */

.top_nav {
    padding: 25px 0;
}

.login_btn {
    margin-left: auto;
}

.get_quote_btns > a > button,
.login_btn > a > button 
{
    border-radius: 10px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    
    position: relative;
}

.login_btn > a > button {
    background-color: transparent;
    border: 2px solid var(--site_blue);    
    width: 105px;    
    color: var(--site_blue);
    
}

.get_quote_btns > a > button {
    background-color: var(--site_blue);
    color: #fff;    
    width: 192px;
    border: none;
}

.login_btn> a > button:after,
.get_quote_btns > a > button:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 102, 153, 0.238);
    transition: .09s;
    transition-timing-function: cubic-bezier(.17,.67,.73,.91);
}

.login_btn > a > button:hover:after,
.get_quote_btns > a > button:hover:after
{
    height: 20%;
}


.site_nav_links > div {
    padding: 0 20px;
}

.site_nav_links > div a {
    color: var(--site_blue);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    transition: .3s;

    position: relative;
}

.site_nav_links > div a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -15px;
    left: 0;
    background-color: var(--site_blue);

    transition: .4s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.site_nav_links > div a:hover:after {
    width: 100%;
}

.site_nav_links > div a:hover {
    text-decoration: none;
    color: var(--link_hover);
}

.site_nav_links {
    margin-left: 40px;
}

.get_quote_btns {
    padding-left: 30px;
}

.header_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/newIndex_banner.png");
    height: 690px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/aboutbanner.png");
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

.banner_content_div > a > button {
    margin-top: 40px;
    border: none;
    background: #FCFCFC;
    border-radius: 5px;
    width: 163px;
    height: 40px;
    color: var(--site_blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    transition: .4s;
}

.banner_content_div > a > button:hover {
    background-color: rgb(223, 223, 223);
}

.second_second {
    padding: 100px 0;
}

.second_second p {
    margin: 30px 0;
}

.second_second a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: var(--site_blue);
    transition: letter-spacing .3s;
}

.second_second a:hover {
    letter-spacing: 1px;
    text-decoration: none;
}

.second_second h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #344248;
}

section.third > div {
    overflow: auto;
    padding: 2px 0;
}


.third_one {
    position: relative;
    overflow: auto;
    height: 400px;

    /* height: 200px; */
}

.third_one img {
    position: absolute;
}

.third_one img.top_vector {
    top: 0;
    left: 0;
    height: 98px;
}

.third_one img.down_vector {
    top: 90px;
    left: 0;
    height: 252px;
}

section.third > div > div.third_one {
    width: 15%;
}

section.third > div > div.third_two {
    width: 41%;
}

section.third > div > div.third_three {
    width: 21.7%;
    background-color: var(--site_blue);
}

section.third > div > div.third_four {
    width: 21.7%;
    background-color: var(--site_blue);
}

.third_two > h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: var(--site_blue);
}

.third_two > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 169.4%;
    color: #898D92;

}

.third_two > p.sub_header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgb(40, 40, 40, 0.5);
    margin: 30px 0 20px;
}

.third_three, .third_four {
    padding: 65px 40px;
    align-items: center;
}

.service_card > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #FCFCFC;
    margin: 20px 0;
}

.service_card > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: #FCFCFC;
}

.dot_img {
    width: 34.3% !important;

    background: url("../../utils/images/Group.png");
    background-repeat: no-repeat;
    background-size: 50% 70%;
    background-position: 80px top;
    z-index: 1;
}

section.six {
    padding: 20px 0 60px;
}

.exp_numbers > div {
    width: 33.33%;
    text-align: center;
}

.exp_header {
    padding: 0px 0 90px;
}

.exp_header h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #344248;
}

.Clients h2, .Policies h2, .Awards h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 118.8%;
}

.Clients h2 {
    color: var(--site_blue);
}

.Policies h2 {
    color: #FF9934;
}

.Awards h2 {
    color: #344248;
}

.exp_numbers > div > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #344248;
    padding-top: 20px;
}

.ccc {
    display: block;
}

.futa_wrapper {
    background-color: rgb(0, 101, 153, 0.1);
    width: 100%;
    padding: 0 0 100px;
}

.futa {
    position: relative;
    padding: 0 0 60px;
    
}

.futa_header {
    width: 100%;
    position: absolute;
    padding: 30px 20px;
    background-color: var(--site_blue);
    top: calc(-97.33px / 2);
    
}


.futa_header > div {
    padding: 0 40px;
}

.futa_header > div a {
    
    color: #d6d6d6;
    font-size: 25px;
    transition: .4s;
}

.futa_header > div a:hover {
    color: #a4a4a4;
}

.futa_link_section {
    width: 50%;
}

.futa_links {
    padding: 100px 0;
}

.futa_link_each h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    color: rgba(31, 31, 33, 0.95);
    margin-bottom: 30px;
}

.futa_link_each a {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155%;
    color: rgba(31, 31, 33, 0.7);
    margin: 10px 0;

    transition: .3s;
}

.futa_link_each a:hover {
    text-decoration: none;
    color: var(--site_blue);
}

.futa_sub_form {
    padding: 6px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 101, 153, 0.33);
    border-radius: 10px;
}

.futa_sub_form input {
    border: none;
}

.futa_sub_form input[type=submit] {
    background: var(--site_blue);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .4s;

    font-size: 12px;
    line-height: 165%;
    width: 90px;
    height: 42px;
}

.futa_sub_form input[type=submit]:hover {
    background-color: #03527a;
}

.futa_sub_form input[type=text] {
    width: 300px;
    padding-left: 20px;
}

.futa_sub_form input[type=submit]:focus,
.futa_sub_form input[type=text]:focus
{
    outline: none;
}

.futa_sub_form_wrapper > label {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: var(--site_blue);
}

.events_img > div {
    width: 30.33%;
    margin: 10px 1.5%;
    float: left;
}

.events_img > div > img {
    width: 100%;
    height: 390px;
    border-radius: 6px 6px 0 0;
}

.event_header {
    padding: 150px 0 100px;
}

.event_header h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 138.1%;
    color: var(--site_blue);
}

.birthDay_sect {
    padding-bottom: 200px;
}

.managers_info p {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: rgba(31, 31, 33, 0.95);
}

.managers_info span {
    ont-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    color: #898D92;
}

.managers_role {
    text-align: right;
}

.managers_role p {
    font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: #C4C4C4;
}

.man_info {
    padding: 20px 0 0;
}

.events_img_managers {
    padding: 150px 0;
}

/* Blog */

.each_blog_post {
    width: 20%;
    margin: 0 2.5%;
    margin-bottom: 70px;
}

.each_blog_post .blog_post_image {
    height: 270px;
    border-radius: 5px 5px 0 0;
    width: 100%;

    position: relative;
}

.blog_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--blog_img_overlay);
    transition: .6s;
    top: 0;
    left: 0;
}

.each_blog_post .blog_post_image:hover .blog_overlay {
    opacity: 1;
    z-index: 1;
}

.each_blog_post .blog_post_image img {
    height: 100%;
    width: 100%;
}

.blog_post_title {
    width: 100%;
    padding: 30px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 31, 33, 0.95);
}

.blog_post_readMore {
    width: 100%;
}

.blog_post_readMore a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: rgba(31, 31, 33, 0.95);
    font-weight: 500;
    position: relative;
}

.blog_post_readMore a:hover {
    text-decoration: none;
}

.blog_post_readMore a:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 160%;
    left: 0;
    bottom: -10px;
    background-color: #2D2E2C;

    transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.blog_post_readMore a:hover:after {
    width: 100%;
}

/* End of blog */

/* Help & contact */

section.help_section {
    padding: 100px 0;
    background-image: url("../../utils/images/Vector.png");
    background-repeat: no-repeat;
    background-position: 0 150px;
    /* background-size: contain; */
}

.contact_info {
    padding-bottom: 80px;
}

.contact_info > div {
    padding: 0 60px;
}

.contact_info > div > p:last-child {
    margin-top: 40px;

    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 2%;
letter-spacing: 2px;
text-transform: uppercase;
color: #898D92;
}

.contact_info > div > p:first-child {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 173.3%;
    color: #898D92;
}


.office_addresses {
    width: 55%;
    margin: 0 auto;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; */
}


.office_addresses h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 207.9%;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #006599;
}

.office_addresses h4 i {
    margin-right: 8px;
    color: #FF9934;
    font-size: 30px;
}

.contact_contact_form {
    width: 80%;
    margin: 40px auto;
    padding: 100px 80px;
    background-color: var(--site_blue);
}

.form_header_title h4 {
    font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 32px;
color: #FCFCFC;
margin-bottom: 30px;
}

/* End of help & contact */

/* Post Page */

.site_post_page_section {
    padding: 120px 0;
}

div.post_content {
    width: 75%;    
    /* background-color: blue; */
    /* height: 200px; */
    padding-right: 70px;
}

div.post_content > div.post_texts p {
    margin: 20px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #898D92;
}

div.post_share {
    width: 20%;
    /* background-color: red; */
}

div.post_coments {
    margin: 90px 0;
    padding-right: 100px;
}

div.post_coments h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

div.each_comments {
    margin: 30px 0;
}

.coment_header_text {
    padding-bottom: 20px;
}

div.commentor_image {
    width: 10%;
}

div.coment_part {
    width: 85%;
}

div.commentor_image_div {
    width: 76px;
    height: 76px;
    background-color: #c4c4c4;
    border-radius: 50%;
}

div.commentor_name {
    padding-bottom: 15px;
}

div.commentor_name > h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344248;
}

div.commentor_comment > p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    color: #898D92;
}

div.form_header_text > h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

div.comment_form {
    width: 65%;
    margin-right: 35%;
}

button.btn_post_comment {
    background: #006599;
    border-radius: 10px;
    width: 192px;
    height: 48px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    border: none;

    transition: .4s;
}

button.btn_post_comment:hover {
    background-color: #024c71;
}

.post_share_part_title {
    margin-bottom: 15px;
}

.post_share_part_title > h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #B2B7BC;
}

.share_on_facebook > i {
    color: #1976D2;
}

.share_on_whatsapp > i {
    color: #4CAF50;    
}

.share_on_twitter > i {
    color: #03A9F4;    
}

.each_share {
    padding: 20px 0;
    border-bottom: 1px dashed #E3E6EA;
    cursor: pointer;
}

div[class*="share_on_"] > i {
    margin: 0 20px 0 10px;
    font-size: 40px;
    transition: .5s;
}

div[class*="share_on_"] > span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #898D92;
    transition: .5s;
}

.each_share:hover > i {
    color: #898D92;
}

.share_on_twitter:hover > span {
    color: #03A9F4;    
}

.share_on_facebook:hover > span {
    color: #1976D2;
}

.share_on_whatsapp:hover > span {
    color: #4CAF50;    
}
/* End of post page */

/* Job Page */

.avail_jobs {
    padding: 60px 60px 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: .4s;
    cursor: pointer;
}

.avail_jobs:hover {
    background: white;
box-shadow: 0px 9px 37px rgba(0, 0, 0, 0.03);
border-radius: 10px;
border-bottom: none;
}

.job_title_n_location {
    width: 40%;
}

.job_title_n_location > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #006599;
    margin-bottom: 15px;
}

.job_title_n_location p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(40, 40, 40, 0.5);
}

.avail_jobs > div.job_desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #898D92;
}

.job_desc {
    width: 60%;
}

.join_team_page {
    padding: 110px 0 150px;
}

.job_details_header {
    padding: 0 0 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.job_details_header > h2 {
    font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #006599;
margin-bottom: 15px;    
}

.job_details_header > p {
    font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 41px;
color: rgb(40, 40, 40, 0.5);
}

.job_details_header_div {
    padding: 150px 0 90px;
}

.job_company_desc {
    padding-bottom: 70px;

    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 200%;
color: #898D92;
}

.mgt_responsibility_header, .about_you_header {
    padding-bottom: 35px;
    
    font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #006599;
}


.mgt_responsibility_desc p, .about_you_txt p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 200%;
color: #898D92;
margin-bottom: 40px;
}

section.job_description {
    padding-bottom: 200px;
}

.apply_for_job {
    width: 192px;
    height: 48px;
    background: #006599;
    border-radius: 10px;
    color: white;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    border: none;
    transition: .4s;
}

.apply_for_job:hover {
    background-color: #04537b;
}

.border_none {
    border: none;
}

.share_this {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #B2B7BC;
    padding-left: 10px;
}

.top_header {
    padding: 100px 0;
}

section.paragraphs p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 225%;
    color: #919AA3;
    margin-bottom: 35px;
}

.hed h4 {
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #182538;
margin-bottom: 25px;
}

section.last_privacy_section {
    padding-bottom: 100px;
}

p.page_sub_text {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #919AA3;
margin-top: 25px;
}


/* End of page */

/* End of index page */

aside.onboard_left_side {
    width: 50%;
    height: 100vh;
    position: fixed;
    /* background-color: blue; */

    background: linear-gradient(rgba(0, 101, 153, 0.5), rgba(0, 101, 153, 0.5)), url("../../utils/images/loginBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 0 80% 80% 0;
}

aside.onboard_right_side {
    width: 50%;
    padding: 60px 80px;
    margin-left: 50%;
    /* height: 100vh; */

    /* background-color: red; */
}

.left_side_login_text {
    margin-top: calc(50vh - (400px/2));
}

.left_side_login_text h2 {
    font-size: 42px;
    line-height: 135%;

}

.left_side_login_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.onboard_back_link p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.onboard_back_link a {
    transition: .4s;
}

.onboard_back_link a:hover {
    text-decoration: none;
    color: rgb(199, 197, 197);
}

.register_txt h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 135%;
    color: #344248;
}

.reg_greetings h4 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 135%;
color: #344248;
}

.reg_greetings p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 145%;
color: rgba(21, 21, 21, 0.5);
margin-top: 10px;
}

.register_n_login_btn {
    width: 100%;
    padding: 60px 0;
}

.register_n_login_btn .reg_btnn button {
    width: 100%;
height: 55px;
background: #006599;
border-radius: 5px;    

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
border: none;
}

.login_btnn a {
    font-size: 16px;
line-height: 15px;
color: #FF9934;
font-weight: 500;
transition: .3s;
}

.login_btnn {
    padding: 40px 0;
}

.login_btnn a:hover {
    text-decoration: none;
    letter-spacing: 1px;
}

.social_icon {
    /* padding: 20px 10px; */
    font-size: 20px;
    padding-right: 10px;
}

.social_register > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
border-radius: 5px;
padding: 8px 15px;

border: 2px solid #385997;
border-radius: 5px;
}

.reg_facebook {
    color: #385997;
}

.reg_google {
    color: #E65149;
}

.reg_text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #344248;
}

.error_msg {
    padding: 15px 20px;

    background: #E72929;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    color: #fff;
    justify-content: flex-start;
    align-items: center;
}

.warning_icon {
    padding-right: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 149.29%;
    color: #FFFFFF;
}

.warning_icon i {
    font-size: 20px;
}

.forget_pass_n_reg {
    padding: 10px 0;
}

.forget_pass_n_reg > div a {
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FF9934;
}

.account_successful_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 70vh;
}

.account_successful_page_content {
    text-align: center;
}

.account_successful_page_content h2 {
    margin: 25px 0;
}

.account_successful_page_content p {
    margin-bottom: 25px;
}

.account_successful_page_content button {
    width: 424px;
    height: 55px;
    background: #006599;
    border-radius: 5px;

    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
border: none;
}

/* Login */

/* Buy Online */



.buy_online_header {
    padding: 80px 0 150px;
    
}

.buy_online_header h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    color: #006599;
}

.buy_online_header p {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 165%;
color: rgb(0, 101, 153, 0.6);
}

.vbvb {
    /* height: 300px; */

    background: rgba(137, 141, 146, 0.1);
box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.1);
overflow: auto;

display: flex;
flex-flow: row wrap;
}

section.buy_insurances {
    padding-bottom: 150px;
}

.buy_insurances_wrapper {
    width: 100%
}

.each_insurance {
    width: 33.20%;
    /* height: 200px; */
    overflow: auto;
    margin: 0 calc((33.333% - 33.20% ) / 2) 1.5px;
    background-color: #fff;
    float: left;

    padding: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.each_insurance h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #006599;
}

.each_insurance p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #C4C4C4;
margin: 15px 0 35px;
}

.each_insurance a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #006599;
transition: .5s;
}

.each_insurance a:hover {
    text-decoration: none;
    color: #FF9934;
}

.each_insurance_img {
    padding-right: 40px;
}
/* End of Buy Online */

/* End of login */

/* Dashboard */

.dash_left_side {
    width: 65%;
    height: 100vh;
    position: relative;
}

.dash_right_side {
    /* background-color: red; */
    width: 35%;
}

.left_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background: linear-gradient(rgb(0, 101, 153,0.6), rgb(0, 101, 153,0.6)), url("../../utils/images/14181.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.left_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: #F0F8FB;    
}

.main_actions {
    position: absolute;
    top: 0;
    width: 80%;
    right: 0;
    border-radius: 30px 0 0 30px;
    height: 100%;
    /* background-color: #fff; */
}

.action_header {
    padding: 50px 0 30px 50px;
}

.action_header a {
    color: white;
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;

transition: .4s;
}

.action_header a:hover {
    color: rgb(252, 252, 252,0.5); 
    text-decoration: none;
}

.action_sections {
    width: 100%;
    border-radius: 30px 0 0 30px;
    height: 75vh;
    background-color: #fff;
    padding: 70px 90px 70px 60px;

    overflow-y: scroll;
}



.action_footer {
    padding: 40px 0 30px 120px;
}

.action_footer > div {
    padding: 0 20px;
}

.action_footer > div a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgb(252, 252, 252,0.5);

    transition: .4s;
}

.action_footer > div a:hover {
    color: #fff;
    text-decoration: none;
}

.dash_right_header {
    padding: 30px 60px 30px 0;
}

.first_stage_down {
    width: 100%;
}

.first_stage_down_header {
    width: 100%;
    /* margin-bottom: ; */
}

.acct_question > a > div {
    width: 280px;

border: 1px solid rgba(4, 25, 66, 0.1);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03);
border-radius: 3px;

padding: 25px;

height: 196px;
}

.acct_question > a:hover {
    text-decoration: none;
}

.first_stage {
    height: 100%;
    width: 100%;

    /* background-color: red; */
}

.first_stage_down {
    margin-bottom: 50px;
}

.acct_question_head i {
    font-size: 20px;
}

.acc_question_right_arrow {
    color: #E1E3E4;
}

i[class*="have_acct"] {
    padding: 15px;
    border-radius: 50%;
    
}

i.have_acct {
    color: #006599;        
    background-color: rgb(0, 101, 153, 0.2);
}

i.dont_have_acct {
    color: #FF6979;  
    background-color: rgb(255, 105, 121,0.2);      
}

.acct_question .the_question {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 158.47%;

}

.have_an_account .the_question {
    color: #006599;
}

.dont_have_an_account .the_question {
    color: #FF6979;
}

.first_stage_down_header_text {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 135%;
color: #006599;
}

.hi_text h3 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 130%;
color: #344248;
}

.hi_text p {
    margin-top: 15px;

    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: rgba(52, 66, 72, 0.4);
}

.login_arrow {
    border-bottom: 2px solid #006599;
    padding: 12px 20px;
    transition: .5s;
}

.login_arrow:hover {
    border-bottom: 2px solid #00669961;
}

.login_arrow a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #006599;

    transition: .5s;
}

.login_arrow a:hover {
    text-decoration: none;
    color: #00669961;
}


.insurance_steps {
    width: 100%;
    padding-left: 20px;
}

.motor_image {
    padding: 50px 0 30px 0;
}

.insurance_name_n_desc h2 {
    font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 135%;
color: #006599;
}

.insurance_name_n_desc p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 163.35%;
color: rgb(52, 66, 72, 0.6);
}

.insurance_step_list {
    padding-top: 35px;
}

.each_list {
    margin-bottom: 20px;
}

.each_list .step_number {
    margin-right: 20px;
}

.step_number {
    border-radius: 50%;
    background-color: rgb(0, 101, 153, 0.05);

    width: 35px;
    height: 35px;
}

.step_number p {
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 101, 153,0.25);
}

.ins_active .step_number {
    background-color: #006599;
    color: #fff;
}

.each_list .step_name h4 {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: rgb(3, 41, 61,0.25);
}

.each_list .step_name p {
    margin-top: 6px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72,0.5);

display: none;
}

.ins_active .step_number p {
    color: #fff;

}

.ins_active .step_name h4 {
    color: #344248;
}

.ins_active .step_name p {
    display: block;
}

.ins_done {
    
}

.insurance_header_text {
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #344248;    
}

.insurance_subheader_text {
    margin-top: 10px;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: rgb(52, 66, 72,0.5);
}

.cover_types_options > a > div {
    /* border: 1px solid #FF9934; */
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
border-radius: 10px;

width: 172px;
padding: 20px;
position: relative;
}

.cover_types_options > a:hover {
    text-decoration: none;
}

.check_mak {
    text-align: right;
    color: #FF9934;
    font-size: 30px;

    padding-right: 20px;
    display: none;

    position: absolute;
    left: 0;
    top: -10px;

}

.cover_types {
    padding-top: 60px;
}

.cover_types_header_text {
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: rgb(3, 41, 61, 0.3);
margin-bottom: 30px;
}

.cover_types_options_name {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72,0.6);
}

.Comprehensive_image img {
    width: 95px;
    height: 82px;
}

.back_n_continue_btn {
    padding: 40px 0 60px;
}

.back_n_continue_btn .backk_btn button {
    width: 99px;
height: 40px;
background: transparent;
border: 1px solid #03293D;
border-radius: 4px;

font-style: normal;
font-weight: bold;
font-size: 14px;
letter-spacing: 0.5px;
color: #03293D;
    
}


.back_n_continue_btn .continue_btnn button {
    width: 145px;
height: 40px;
background-color: #2E99CB;
border-radius: 5px;

color: #fff;
border: none;
transition: .4s;
}

.back_n_continue_btn .continue_btnn button:hover {
    background-color: rgb(33, 127, 171);
}

.notify_red {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: red;

    /* transform: translateY(-5px); */
}

.notify_bell i {
    color: #344248; 
    font-size: 22px;   
}

.for_image {
    width: 48px;
height: 48px;
background: #344248;
border: 1px solid #FF9934;
border-radius: 50%;
}

.dash_user_name {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.0115367em;
color: #4F4F4F;
}

.dash_user_mail {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.0115367em;
color: #FF9934;
}

.policy_radios > div {
    width: 47%;
    padding: 15px 30px;
    background: #F3F7FC;
    border-radius: 5px;
}

.policy_radios > div > label {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #9195A0;
}

.radios_title {
    padding: 20px 0;

    font-style: normal;
font-weight: 500;
font-size: 12px;
color: rgb(52, 66, 72,0.6);
}


.third_party_option {
    border: 2px solid rgba(52, 66, 72, 0.1);
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
border-radius: 10px;

padding: 45px 30px;
}

.third_party_option p {
    margin-bottom: 12px;

    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.02em;
color: rgb(21, 21, 21,0.6);
}

.third_party_option h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: rgb(21, 21, 21,0.6);
}

.each_insurance_coverr {
    border: 2px solid rgba(52, 66, 72, 0.1);
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
border-radius: 10px;

width: 270px;
padding: 20px;
}

.each_insurance_coverr h4 {
    margin-bottom: 12px;

    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.02em;
color: rgb(21, 21, 21, 0.6);
}

.each_insurance_coverr p {
    font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 171.8%;
color: rgb(52, 66, 72,0.6);
}

.insurance_coverr {
    margin-top: 40px;
}

.insurance_coverr_head_text {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: rgb(52, 66, 72, 0.6);
padding: 13px 0;
}

.sure_full_width > div {
    width: 100% !important;    
}

.sure_full_width {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(2, 42, 63, 0.08);

}

.debit_card_pay_div {
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72, 0.65);

padding: 40px 0 0px 0;
}

.policy_details_table > table {
    width: 70%;
}

.policy_details_table > table > tr > td {
    width: 50% !important;
    
}

.policy_details_table td {
   padding: 9px 0 !important;
}

.policy_details_table td.title {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 135%;
color: #344248;
}

.policy_details_table td.title ~ td {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 135%;

color: #344248;
}

.summary_details_header {
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72, 0.65);

padding: 50px 0 25px
}

.motor_part_header_title {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 135%;
color: #344248;

margin: 50px 0 25px;
}


.insurance_success_div {
    height: 100%;
    width: 100%;
}

.insurance_success_div_inner_wrapper {
    text-align: center;
}

.xful_pay {
    width: 424px;
height: 55px;
background: #006599;
border-radius: 5px;

color: #fff;
border: none;
}

.insurance_success_div_inner_wrapper h3 {
    font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 133%;
color: #344248;

margin: 15px 0;
}

.insurance_success_div_inner_wrapper p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145.8%;
    color: rgb(21, 21, 21, 0.5);
    margin-bottom: 20px;
}

/* End of dashboard */

/* About Us page */

.roles_n_imagess {
    position: relative;
    margin-bottom: 800px;
}

.role_section {
    padding: 80px 0;
}

.our_role {
    position: relative;
    display: block;
}

.roless, .role_image {
    position: absolute;
}

.roless {
    top: 0;
    left: 0;
    width: 90%;
    
    z-index: -1;

    background-color: #006599;

    padding: 120px 30px 120px 150px;
}

.role_image {
    right: 0;
    top: -60px;
    height: 740px;
    z-index: 1;

    width: 30%;

    /* background-color: orange; */
}

.role_image img {
    width: 100%;
    height: 100%;
}

.ins_broker h3 {
    font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 134.2%;
color: #FCFCFC;
}

.ins_broker_desc p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163.35%;
color: #FCFCFC;
margin-top: 30px;
}

.all_services_listt {
    margin-top: 65px;
}

.all_services_listt > div p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163.35%;
    color: #FCFCFC;
}

.all_services_listt > div p i {
    color: #FF9934;
}


.all_services_listt > div {
    margin-top: 40px;
}



section.our_goals_section {
    padding: 120px 0 70px;

    background: url("../../utils/images/bluubg.png");
    background-size: 190px 340px;
    background-repeat: no-repeat;
    background-position: top right;
}


.role_image img {
    /* width: 100%;
    height: 100%; */
}

.goals_content {
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 138.1%;
color: #344248;
}

.our_goals_section_head_text {

    margin-bottom: 60px;

}

.our_goals_section_head_text h4 {
    font-style: normal;
font-weight: bold;
font-size: 40px;
/* font-weight: 700; */
line-height: 138.1%;
color: #006599;
}

.goals_comment_image img {
    width: 11.09px;
height: 20.32px;
margin-right: 10px;

margin-bottom: 30px;
}

.each_goals_div {
    padding: 60px;

    background: #F6F5F4;
    width: 30.3333%;
    margin-bottom: 60px;
}

.about_us_top_desc p {
    font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 38px;
color: rgba(31, 31, 33, 0.95);
}

.about_us_top_desc {
    padding-bottom: 70px;
}

.goals_n_mission h4 {
    font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #006599;
margin-bottom: 30px;
}

.goals_n_mission p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163.35%;
color: rgb(54, 54, 54);
}

section.about {
    background: url("../../utils/images/gbg.png");
    background-repeat: no-repeat;
    background-size: 50px 190px;
    background-position: bottom left;

    padding: 120px 0 200px;
}

.meet_the_bod_text h3 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 138.1%;
color: #006599;
}

.meet_the_bod_text {
    text-align: center;
}

.about_meet_bod {
    padding-top: 70px;
}

section.meet_the_board {
    background: url("../../utils/images/Group.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}

.mang_team_link {
    padding: 0 0 90px;
    text-align: center;
}

.mang_team_link a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #014886;
transition: letter-spacing .3s;
}

.mang_team_link a:hover {
    text-decoration: none;
    letter-spacing: .7px;
}

/* End of about us page */

/* Our Servies page */

section.servicesss {
    padding: 120px 0;
}

.servicesss_headeer {
    margin-bottom: 90px;
}

.servicesss_headeer h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 138.1%;
    color: #006599;
}

.products_n_servies > div {
    width: 33.3333%;
}

.products_n_servies  div {
    /* padding-bottom: 40px; */
}

.products_n_servies > div h5 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
color: #FF9934;
margin-bottom: 30px;
}

.products_n_servies > div ul {
    list-style-type: none;
    padding: 0 !important;
}

.products_n_servies > div ul li {
    margin-bottom: 15px;

    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: rgba(31, 31, 33, 0.95);
}

section.index_services_sec {
    padding: 140px;
    background: rgba(0, 101, 153, 0.05);
}

.index_services {

    overflow: auto;
    
}

.index_services_header h4 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 45px;
color: #006599;
}

.index_services_header p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 169.4%;
color: #344248;
margin-top: 25px;
}

.index_services_header {
    margin-bottom: 50px;
}

.each_serv {
    width: 23%;
    margin: 10px 1%;
    padding: 40px;
    background-color: #FCFCFC;
    /* text-align: center; */

    /* float: left; */
}

.each_serv p {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #344248;
}

.for_testimonial {
    padding: 120px 0 0px;
}

.for_testimonial_header h4 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 138.1%;
color: #006599;
}

.testimonial_scroll {
    overflow: scroll;
    padding: 100px 20px 70px;
}

.testimonial_scroll::-webkit-scrollbar {
    display: none;
}

.main_testii {
    overflow: hidden;
}

.each_testimony {
    width: 500px;
    margin-right: 30px;
    float: left;
}

.testi_name h4 {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: rgba(31, 31, 33, 0.95);
}

.testi_image_n_name {
    margin-top: 50px;
    padding: 0 0 0 50px;
}

.testi_image {
    width: 58px;
height: 58px;

background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
border-radius: 50%;
margin-right: 30px;
}

.testimonial_content {
    background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
border-radius: 20px;
padding: 40px;
position: relative;
}

.testimonial_content:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 40px;
    border-style: solid;
    border-color: #e2e2e2 transparent transparent transparent;
    margin-left: 40px;
}

.testimonial_content_image {
    margin-bottom: 30px;
}

.testi_image img {
    width: 38px;
    height: 25px;
}

.testi_main_content p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 28px;
color: rgb(3, 41, 61,0.5);
}

.sixth_sec {
    margin-bottom: 30px;
}

.blog_header_text h3 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 48px;
color: #006599;
}

.blog_header_text {
    padding-bottom: 60px;
    padding-left: 30px;
}

.faq_subheader {
    padding: 120px 0 70px;
}

.faq_subheader h2 {
    font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 45px;
color: #182538;
}

.faq_subheader p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
margin-top: 12px;
color: #919AA3;
}

.questions_wrapper {
    width: 70%;
    margin: 70px 15% 100px;
}

.question_container {
    border-bottom: 1px solid #C4C4C4;
}

.main_questions_answer p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 225%;
color: rgb(49, 49, 49);
}

.main_questions h5 {
    font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 33px;
color: #006599;
}

.main_questions_answer {
    padding: 5px 0 20px;
    display: none;
}

.main_questions {
    padding: 15px 0;
}

.ques_header {
    cursor: pointer;
}

.faq_part {
    padding-bottom: 100px;
}


/* Dashboard */

.side_nav {
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    float: left;
    box-shadow: 3px 0 10px rgba(0, 101, 153, 0.05);
}

.dashboard_content {
    width: 80%;
    margin-left:20%;
    height: 300px;
    /* background-color: #E5E5E5; */
    float: left;
}


.dashboard_logo {
    padding: 30px 0; 
}

.dashbod_links, .dash_logout_btn {
    padding: 30px 0;
}

.dashbod_links > a {
    display: block;
    padding: 20px 0 20px 20%;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0115367em;
    color: rgb(52, 66, 72,0.5);
    transition: .4s;
}

.dashbod_links > a:hover {
    background-color: rgb(0, 101, 153,0.05);
    color: #006599;
    text-decoration: none;
}

.dashbod_links > a i, .dash_logout_btn > a i {
    font-size: 20px;
}

.dash_logout_btn {
    border-top: 1px solid rgb(0, 101, 153,0.1);
    margin-top: 80px;
}

.dash_logout_btn > a {
    display: block;
    padding: 20px 0 20px 20%;

    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.0115367em;
color: #FF9934;
transition: .4s;
}

.dash_logout_btn > a:hover {
    text-decoration: none;
    color: rgb(150, 84, 18);
}

.dash_summary_header {
    padding: 60px 0 130px;
    border-radius: 0px 0px 50px 50px;
    background: linear-gradient(234.55deg, #006599 42.21%, #54C4CF 146.94%);
}

.dash_user_imagee {
    width: 48px;
height: 48px;
background: #FCFCFC;
border-radius: 50%;
}

.bell_notify {
    color: #FCFCFC;
    font-size: 25px;
}

.dash_user_namee p {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.0115367em;
color: #FCFCFC;
}

.dashB_user_mail p {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.0115367em;
color: rgb(252, 252, 252,0.8);
}

.dash_greetings h4 {
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
color: #FCFCFC;
}

.dash_greetings p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(252, 252, 252,0.5);
margin-top: 10px;
}

.dash_greetings {
    padding-top: 50px;
}

.dash_total_cards > div {
    width: 46%;
    padding: 50px 60px;

    background: #FFFFFF;

border: 1px solid #F2F2F2;
border-radius: 10px;
}


.dashb_cards {
    transform: translateY(-90px);
}

.total_texts p {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #344248;
}

.total_texts h3 {
    font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 59px;
color: #344248;
margin: 13px 0;
}

.total_texts span {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72,0.5);
}

.dash_table table {
    width: 100%;

    background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.dash_table table tr th, .dash_table table tr td {
    padding: 25px 0px 25px 25px;
}

.dash_table table tr th {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
text-transform: capitalize;
color: #B2B7BC;
}

.dash_table table tr td {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #898D92;
}

.dash_table table tr td.amount {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
text-transform: uppercase;
color: #B0C5DA;
}

.dash_table table tbody tr:hover {
    background: rgb(0, 101, 153,0.02);
}

.dash_table table thead {
border-bottom: 1px solid rgb(178, 183, 188,0.2);
}

.dash_table table tbody tr:not(:last-child) {
    border-bottom: 1px dashed rgb(0, 101, 153,0.2);
}

.dash_table_header h5 {
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #344248;
}

.dash_table_header {
    padding-bottom: 30px;
}

.dash_table_row {
    padding-bottom: 130px;
}

.dashB_right_header {
    padding: 60px 0 80px 0;
}

.transaction_table_header .recent_text h5 {
    font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
color: #344248;
}

.transaction_table_header .recent_text p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: rgb(52, 66, 72,0.5);
margin-top: 12px;
}

.transaction_table_header {
    padding-bottom: 50px;
}

.clear_all_trans p a {
    font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 14px;
color: #006599;

transition: letter-spacing .4s;
}

.clear_all_trans p a:hover {
    text-decoration: none;
    letter-spacing: .5px;
}

.table_pages_link div {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 6px;
    background-color: #fff;
    color: #fff;
    cursor: pointer;

    transition: .35s;
}

.table_pages_link div p {
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #898D92;

}

.table_pages_link div:hover {
    background-color: var(--site_blue);
}

.table_pages_link div:hover p {
    color: #fff;
}

.table_pages_link div.active_bred {
    background-color: var(--site_blue);
  
}

.table_pages_link div.active_bred p {
    color: #fff;
}

.table_nav {
    padding: 40px 0;
    border-top: 1px dashed rgb(0, 101, 153,0.2);
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

button.active_btn {
    width: 121px;
height: 31px;

background-color: #4AC8AD;
border-radius: 3px;


font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FCFCFC;
border: none;
}

button.not_active_btn {
    width: 121px;
height: 31px;

background-color: #C4C4C4;;
border-radius: 3px;


font-style: normal;
font-weight: normal;
font-size: 14px;
color: #FCFCFC;
border: none;
}

.quote_details_wrapper > div {
    width: 48%;
    
}

.placehoder_name_wrapper {
    padding: 45px 35px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 101, 153, 0.05);
}


.placehoder_name_wrapper > table {
    width: 100%;
}

.placehoder_name_wrapper > table > tr > td {
    width: 50% !important;
    
}

.placehoder_name_wrapper td {
   padding: 20px 0 !important;
}

.placehoder_name_wrapper td.title {
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 135%;
color: #344248;
}

.placehoder_name_wrapper td.title ~ td {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 135%;

color: #344248;
}

.quote_details_right_side > div, .quote_details_left_side > div {
    margin-bottom: 30px;
}

.export_to_pdf {
    border: none;
    width: 220px;
height: 40px;

background: #2E99CB;
border-radius: 5px;

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;

transition: .4s;
}

.export_to_pdf:hover {
    background: rgb(30, 114, 154);
}

.settings_navigator {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
}

.settings_navigator > div {
    padding: 0 60px 20px 0;
    /* margin: 0 60px 0 0; */

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.settings_element {
    padding: 70px 0;
}

.settings_element > div {
    width: 45%;

    /* background-color: #fff;
    height: 300px; */
}

.sett_for_head_header h5 {
    font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
color: rgb(52, 66, 72,0.5);
}

.sett_for_head_header p {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
color: #344248;
}

.update_set button {
    width: 145px;
height: 40px;
background: #2E99CB;
border-radius: 5px;
border: none;

font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
}

.update_set {
    margin-top: 70px;

}

.setting_right_part {
    background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
border-radius: 10px;
padding: 70px;
}

.prof_img {
    width: 156px;
height: 156px;
background: #E3E6EA;
border-radius: 155px;
border-radius: 50%;
margin: 40px auto;
}

.setting_right_part p {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: rgb(52, 66, 72,0.5);
}

.change_prof_img button {
    width: 237px;
height: 46px;
background: #2E99CB;
border-radius: 5px;
border: none;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.5px;

color: #FFFFFF;
}

.delete_img a {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.5px;

color: #CE3D29;
}

.delete_img a:hover {
    text-decoration: none;
}

.settings_navigator > div p {
    cursor: pointer;

    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.02em;
color: rgb(52, 66, 72, 0.5);
transition: .4s;
}

.settings_navigator > div p {
    position: relative;
}

.settings_navigator > div p:after {
    position: absolute;
    content: "";

    top: 193%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #006599;
    transition: height .4s;
}

.settings_navigator > div p:hover:after {
    height: 2.5px;
}

.settings_navigator > div p:hover {
    color:  #006599;
}

#for_password_change {
    display: none;
}

.goto_blog {
    text-align: right;
}

.goto_blog a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #014886;
transition: .4s;
}

.goto_blog a:hover {
    text-decoration: none;
    letter-spacing: .5s;
}

.goto_blog {
    padding: 0 0 80px;
}

.products_n_servies ul {
    display: none;
}

.serv_topp {
    cursor: pointer;
}

.for_servv {
    position: relative;
    overflow: hidden;

    background-color: #006599
}

.for_servv h4 {
    color: #fff;
}

.ser_description {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    /* background-color: #040a0ea1; */
    transition: .4s;

    transform: translateY(100%);

    padding: 15px 20px;

    background-color: #fff;

    overflow-y: scroll;
    

}

.ser_description_head {
    padding-bottom: 15px;
}

.ser_description_head p {
    margin: 0 !important;
    font-size: 17px;
    font-weight: 500;
    color: #FF9934;
}

.ser_description span {
    color: #006599 !important;
    font-size: 17px;
    display: block;
    font-weight: 500;
}

.blu_color { 
    
}

.for_servv:hover .ser_description {
    transform: translateY(0);
}

.tooltip_container {
    position: relative;
    cursor: pointer;
}

.tooltiptext {
    /* visibility: hidden; */
    display: none;
    position: absolute;
    
    opacity: 0;
    width: 200px;

    transition-property: opacity;
    transition-duration: 0.4s;

    top: 120%;
    left: 0;

    background-color: #006599;
    
    padding: 5px 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 5px;
    z-index: 1;

}

.tooltiptext p, .tooltiptext ul li {
    color: #fff;
    font-size: 10px;
    line-height: 120%;
    margin-bottom: 10px;
}

.tooltiptext ul li {
    color: rgb(182, 182, 182);
    font-size: 10px;
    line-height: 120%;
    margin-bottom: 10px;
}

.tooltiptext ul {
    padding-left: 10px;
}

.tooltip_container:hover .tooltiptext {
    /* visibility: visible; */
    display: block;
    opacity: 1;  
}

.tooltip_container:hover .tooltiptext:after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 15px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #006599 transparent;
}

.faq_cont {
    /* margin-top: 15px; */
}

.faq_cont > div {
    padding: 20px;
}

.faq_cont h5 {
    margin-bottom: 20px;
}

.faq_cont p {
    line-height: 150%;;
}
.newvbvb {
    box-shadow: none;
    background-color: #fff;
}

.reduced_font h4 {
    font-size: 15px;
}

.services_modal_body {
    padding: 60px;
    color: white;

    /* background: linear-gradient(rgba(12, 2, 39, 0.945), rgba(12, 2, 39, 0.884), rgba(0,0,0,0.83)), url("../../utils/images/mod2.jpg"); */
    background: linear-gradient(rgba(0, 102, 153, 0.752), rgba(0, 102, 153, 0.711), rgba(0, 102, 153, 0.541)), url("../../utils/images/mod3.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.services_modal_body h4 {
    font-size: 30px;
    /* color: #ff9934;    */
}

.services_modal_body p {
    line-height: 180%;
    margin-bottom: 20px;
    font-size: 18px;
}

.services_modal_body_header {
    padding-bottom: 40px;
    text-transform: uppercase;
}


.menu_bars {
    width: 30px;
    /* height: 4px; */
    height: 3px;
    border-radius: 2px;
    background-color: var(--site_blue);
    transition: .4s;
    transform-origin: center;
}

.menu_bars:nth-child(2) {
    margin: 5px 0;
}

.menu_bars_wrapper {
    margin-left: 10px;
    padding: 6px 5px;
    border: 3px solid var(--site_blue);
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: linear;
    display: none;

}

.menu_bars_wrapper:active {
    transform: translateY(3px);
}

.menu_bars_wrapper:hover {
    border-color: #f1a85f;
}

.menu_bars_wrapper:hover .menu_bars {
    /* background-color: #ff9934; */
}

/* .menu_bars_wrapper:hover .menu_bars:nth-child(2) {
    opacity: 0;
}

.menu_bars_wrapper:hover .menu_bars:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 5px);
    transform-origin: center;
}

.menu_bars_wrapper:hover .menu_bars:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -4px);
    transform-origin: center;
} */

.all_page_wrapper {
    width: 100%;
    transition: .5s;
}

nav.side_navigation {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: .5s;

    /* background-color: var(--site_blue); */
    background-color: white;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.13);
    overflow-x: hidden;
}

.close_btn_wrapper {
    padding: 25px 15px;
    margin-bottom: 50px;
}

.close_btn_wrapper i {
    font-size: 30px;
    color: var(--site_blue);
    cursor: pointer;
    transition: .4s;
}

.close_btn_wrapper i:hover {
    color: rgb(174, 174, 174);
}

.side_nav_links_wrapper {
    width: 100%;
}

.each_side_link {
    transition: .5s;
    display: block;
    padding: 10px 15px;
    border-left: 5px solid transparent;
}

.each_side_link:hover {
    border-left-color: var(--site_blue);
    /* background-color: #0066995e; */
}

.active_each_side_link {
    border-left-color: var(--site_blue);
}

.each_side_link a {
    color: var(--site_blue);
    font-size: 15px;
    transition: .5s;

}
 
.each_side_link:hover a {
    /* color: white; */
    text-decoration: none;
    letter-spacing: .7px;
}

.each_bod_member {
    width: 45%;
    float: left;
    margin: 0 2.5% 30px;
    border-radius: 6px 6px 0 0;
}

.bod_member_img {
    width: 100%;
    height: 420px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 12px;
}

.bod_member_img img {
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}

.bod_mem_post {
    text-align: right;
}

.bod_name_n_deg {
    padding-right: 12px;
}

.bod_name_n_deg h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: rgba(31, 31, 33, 0.95);
    margin-bottom: 3px;
}

.bod_name_n_deg p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: rgb(106, 107, 108);
}

.bod_mem_post p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(123, 123, 123);
}

.the_bod_members_wrapper {
    padding: 60px 0 1100px;
}

.each_mgt_member {
    width: 31.33%;
    float: left;
    margin: 0 1% 50px;
    border-radius: 6px 6px 0 0;
}

.each_mgt_member .bod_member_img {
    height: 425px;
}

.the_mgt_members_wrapper {
    padding: 150px 0 1200px;
}


.banner_content_divv {
    width: 86%;
    
}

.banner_content_divv p {
    font-size: 25px;
}

.banner_content_divv > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 53px;
    line-height: 150%;
}

.event_bannerr {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    /* height: 338px; */
    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bod_wrapa {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
/* End of dashboard */
