
.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}


.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

section.about {
    background: url("../../utils/images/gbg.png");
    background-repeat: no-repeat;
    background-size: 50px 190px;
    background-position: bottom left;

    padding: 120px 0 200px;
}

.about_us_top_desc p {
    font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 38px;
color: rgba(31, 31, 33, 0.95);
}

.about_us_top_desc {
    padding-bottom: 70px;
}


.goals_n_mission h4 {
    font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #006599;
margin-bottom: 30px;
}

.goals_n_mission p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163.35%;
color: rgb(54, 54, 54);
}


.roles_n_imagess {
    position: relative;
    margin-bottom: 800px;
}

.role_section {
    padding: 80px 0;
}

.our_role {
    position: relative;
    display: block;
}

.roless, .role_image {
    position: absolute;
}

.roless {
    top: 0;
    left: 0;
    width: 90%;
    
    z-index: -1;

    background-color: #006599;

    padding: 120px 30px 120px 150px;
}

.role_image {
    right: 0;
    top: -60px;
    height: 740px;
    z-index: 1;

    width: 30%;

    /* background-color: orange; */
}

.role_image img {
    width: 100%;
    height: 100%;
}

.ins_broker h3 {
    font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 134.2%;
color: #FCFCFC;
}

.ins_broker_desc p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163.35%;
color: #FCFCFC;
margin-top: 30px;
}

.all_services_listt {
    margin-top: 65px;
}

.all_services_listt > div p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163.35%;
    color: #FCFCFC;
}

.all_services_listt > div p i {
    color: #FF9934;
}


.all_services_listt > div {
    margin-top: 40px;
}



section.our_goals_section {
    padding: 120px 0 70px;

    background: url("../../utils/images/bluubg.png");
    background-size: 190px 340px;
    background-repeat: no-repeat;
    background-position: top right;
}


.role_image img {
    /* width: 100%;
    height: 100%; */
}

.goals_content {
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 138.1%;
color: #344248;
}

.our_goals_section_head_text {

    margin-bottom: 60px;

}

.our_goals_section_head_text h4 {
    font-style: normal;
font-weight: bold;
font-size: 40px;
/* font-weight: 700; */
line-height: 138.1%;
color: #006599;
}

.goals_comment_image img {
    width: 11.09px;
height: 20.32px;
margin-right: 10px;

margin-bottom: 30px;
}

.each_goals_div {
    padding: 60px;

    background: #F6F5F4;
    width: 30.3333%;
    margin-bottom: 60px;
}

.about_us_top_desc p {
    font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 38px;
color: rgba(31, 31, 33, 0.95);
}

.about_us_top_desc {
    padding-bottom: 70px;
}

.goals_n_mission h4 {
    font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #006599;
margin-bottom: 30px;
}

.goals_n_mission p {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 163.35%;
color: rgb(54, 54, 54);
}

section.about {
    background: url("../../utils/images/gbg.png");
    background-repeat: no-repeat;
    background-size: 50px 190px;
    background-position: bottom left;

    padding: 120px 0 200px;
}

.meet_the_bod_text h3 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 138.1%;
color: #006599;
}

.meet_the_bod_text {
    text-align: center;
}

.about_meet_bod {
    padding-top: 70px;
}

section.meet_the_board {
    background: url("../../utils/images/Group.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}

.mang_team_link {
    padding: 0 0 90px;
    text-align: center;
}

.mang_team_link a {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #014886;
transition: letter-spacing .3s;
}

.mang_team_link a:hover {
    text-decoration: none;
    letter-spacing: .7px;
}

.the_bod_members_wrapper {
    padding: 60px 0 1100px;
}

.bod_wrapa {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.each_bod_member {
    width: 45%;
    float: left;
    margin: 0 2.5% 30px;
    border-radius: 6px 6px 0 0;
}

.bod_member_img {
    width: 100%;
    height: 420px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 12px;
}

.bod_member_img img {
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
}

.meet_the_bod_text h3 {
    font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 138.1%;
color: #006599;
}

.meet_the_bod_text {
    text-align: center;
}

.about_meet_bod {
    padding-top: 70px;
}

section.meet_the_board {
    background: url("../../utils/images/Group.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 250px 250px;
}



.mang_team_link a:hover {
    text-decoration: none;
    letter-spacing: .7px;
}