aside.onboard_left_side {
    width: 50%;
    height: 100vh;
    position: fixed;
    /* background-color: blue; */

    background: linear-gradient(rgba(0, 101, 153, 0.5), rgba(0, 101, 153, 0.5)), url("../../../utils/images/loginBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 0 80% 80% 0;
}

aside.onboard_right_side {
    width: 50%;
    padding: 60px 80px;
    margin-left: 50%;
    /* height: 100vh; */

    /* background-color: red; */
}

.left_side_login_text {
    margin-top: calc(50vh - (400px/2));
}

.left_side_login_text h2 {
    font-size: 42px;
    line-height: 135%;

}

.left_side_login_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.onboard_back_link p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.onboard_back_link a {
    transition: .4s;
}

.onboard_back_link a:hover {
    text-decoration: none;
    color: rgb(199, 197, 197);
}

.register_txt h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 135%;
    color: #344248;
}

.reg_greetings h4 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 135%;
color: #344248;
}

.reg_greetings p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 145%;
color: rgba(21, 21, 21, 0.5);
margin-top: 10px;
}

.register_n_login_btn {
    width: 100%;
    padding: 60px 0;
}

.register_n_login_btn .reg_btnn button {
    width: 100%;
height: 55px;
background: #006599;
border-radius: 5px;    

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
border: none;
}

.login_btnn a {
    font-size: 16px;
line-height: 15px;
color: #FF9934;
font-weight: 500;
transition: .3s;
}

.login_btnn {
    padding: 40px 0;
}

.login_btnn a:hover {
    text-decoration: none;
    letter-spacing: 1px;
}

.account_successful_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 70vh;
}

.account_successful_page_content {
    text-align: center;
}

.account_successful_page_content h2 {
    margin: 25px 0;
}

.account_successful_page_content p {
    margin-bottom: 25px;
}

.account_successful_page_content button {
    width: 424px;
    height: 55px;
    background: #006599;
    border-radius: 5px;

    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
border: none;
}