aside.onboard_left_side {
    width: 50%;
    height: 100vh;
    position: fixed;
    /* background-color: blue; */

    background: linear-gradient(rgba(0, 101, 153, 0.5), rgba(0, 101, 153, 0.5)), url("../../utils/images/loginBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: 0 80% 80% 0;
}

aside.onboard_right_side {
    width: 50%;
    padding: 60px 80px;
    margin-left: 50%;
    /* height: 100vh; */

    /* background-color: red; */
}

.left_side_login_text {
    margin-top: calc(50vh - (400px/2));
}

.left_side_login_text h2 {
    font-size: 42px;
    line-height: 135%;

}

.left_side_login_text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.onboard_back_link p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.onboard_back_link a {
    transition: .4s;
}

.onboard_back_link a:hover {
    text-decoration: none;
    color: rgb(199, 197, 197);
}

.register_txt h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 135%;
    color: #344248;
}

.reg_greetings h4 {
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 135%;
color: #344248;
}

.reg_greetings p {
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 145%;
color: rgba(21, 21, 21, 0.5);
margin-top: 10px;
}

.register_n_login_btn {
    width: 100%;
    padding: 60px 0;
}

.register_n_login_btn .reg_btnn button {
    width: 100%;
height: 55px;
background: #006599;
border-radius: 5px;    

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
letter-spacing: 0.5px;
color: #FFFFFF;
border: none;
}

.login_btnn a {
    font-size: 16px;
line-height: 15px;
color: #FF9934;
font-weight: 500;
transition: .3s;
}

.login_btnn {
    padding: 40px 0;
}

.login_btnn a:hover {
    text-decoration: none;
    letter-spacing: 1px;
}

.social_icon {
    /* padding: 20px 10px; */
    font-size: 20px;
    padding-right: 10px;
}

.social_register > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
border-radius: 5px;
padding: 8px 15px;

border: 2px solid #385997;
border-radius: 5px;
}

.reg_facebook {
    color: #385997;
}

.reg_google {
    color: #E65149;
}

.reg_text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #344248;
}

.error_msg {
    padding: 15px 20px;

    background: #E72929;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    color: #fff;
    justify-content: flex-start;
    align-items: center;
}

.warning_icon {
    padding-right: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 149.29%;
    color: #FFFFFF;
}

.warning_icon i {
    font-size: 20px;
}










button.send_contact_message:hover { /* login and dashboards */
    background: rgb(223, 131, 39);
}

.white_color {
    color: #fff;
}

.onboard_input_wrapper { /* login and dashboards */
    width: 70%;
    margin-right: 30%;
}

.onboard_input_div { /* login and dashboards */
    background: #FFFFFF;
    border: 1px solid rgba(52, 66, 72, 0.1);
    padding: 5px 0;
    border-radius: 6px;
    margin: 20px 0;

    height: 64px;

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.onboard_input_div label { /* login and dashboards */
    padding-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: rgba(52, 66, 72, 0.4);

    transform: translateY(20px);
    transition: .6s;
    cursor: text;
}

.onboard_input_div input { /* login and dashboards */
    border: none;
    width: 100%;
    padding-left: 25px;


    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #344248;
}



.onboard_input_div input:focus  { /* login and dashboards */
    outline: none;
}



.input_side { /* login and dashboards */
    width: 90%;
    position: relative;

    transition: border-left .6s;
    
    height: 100%;
}

.icon_side { /* login and dashboards */
    width: 10%;
    color: rgba(137, 141, 146, 0.5);
}

.input_side label, .input_side input { /* login and dashboards */
    position: absolute;
    top: 0;
}

.input_side input { /* login and dashboards */
    height: 100%;
}

.input_side label { /* login and dashboards */
    z-index: 1;
}

.forget_pass_n_reg > div a {
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FF9934;
}