 
 .job_details_header_div {
    padding: 150px 0 90px;
}

.job_details_header {
    padding: 0 0 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.job_details_header > h2 {
    font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
color: #006599;
margin-bottom: 15px;    
}

.job_details_header > p {
    font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 41px;
color: rgb(40, 40, 40, 0.5);
}

.job_company_desc {
    padding-bottom: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    color: #898D92;
}

.mgt_responsibility_header, .about_you_header {
    padding-bottom: 35px;
    
    font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #006599;
}


.mgt_responsibility_desc p, .about_you_txt p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 200%;
color: #898D92;
margin-bottom: 40px;
}

.apply_for_job {
    width: 192px;
    height: 48px;
    background: #006599;
    border-radius: 10px;
    color: white;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    border: none;
    transition: .4s;
}

.apply_for_job:hover {
    background-color: #04537b;
}

.border_none {
    border: none;
}

.share_this {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #B2B7BC;
    padding-left: 10px;
}

section.job_description {
    padding-bottom: 200px;
}

.share_on_facebook > i {
    color: #1976D2;
}

.share_on_whatsapp > i {
    color: #4CAF50;    
}

.share_on_twitter > i {
    color: #03A9F4;    
}

.each_share {
    padding: 20px 0;
    border-bottom: 1px dashed #E3E6EA;
    cursor: pointer;
}

div[class*="share_on_"] > i {
    margin: 0 20px 0 10px;
    font-size: 40px;
    transition: .5s;
}

div[class*="share_on_"] > span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #898D92;
    transition: .5s;
}

.each_share:hover > i {
    color: #898D92;
}

.share_on_twitter:hover > span {
    color: #03A9F4;    
}

.share_on_facebook:hover > span {
    color: #1976D2;
}

.share_on_whatsapp:hover > span {
    color: #4CAF50;    
}