
.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(../../utils/images/eventBanner.png);
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.otherpages_header_color {
    color: #FF9934 !important;
}
.banner_content_div {
    width: 70%;
    color: #fff;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

section.help_section {
    padding: 100px 0;
    background-image: url(../../utils/images/Vector.png);
    background-repeat: no-repeat;
    background-position: 0 150px;
    /* background-size: contain; */
}

.office_addresses {
    width: 55%;
    margin: 0 auto;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; */
}


.office_addresses h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 207.9%;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #006599;
}

.office_addresses h4 i {
    margin-right: 8px;
    color: #FF9934;
    font-size: 30px;
}

.contact_contact_form {
    width: 80%;
    margin: 40px auto;
    padding: 100px 80px;
    background-color: var(--site_blue);
}

.form_header_title h4 {
    font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 32px;
color: #FCFCFC;
margin-bottom: 30px;
}

button.send_contact_message { /* Contact Us page btn */
    width: 215px;
height: 54px;
background: #FF9934;
border-radius: 10px;
color: #fff;

font-weight: 500;
font-size: 13.5px;
line-height: 16px;
letter-spacing: 2px;
text-transform: capitalize;
border: none;
transition: .4s;

}

button.send_contact_message:hover { /* login and dashboards */
    background: rgb(223, 131, 39);
}

.contact_info {
    padding-bottom: 80px;
}

.contact_info > div {
    padding: 0 60px;
}

.contact_info > div > p:last-child {
    margin-top: 40px;

    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 2%;
letter-spacing: 2px;
text-transform: uppercase;
color: #898D92;
}

.contact_info > div > p:first-child {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 173.3%;
    color: #898D92;
}