.faq_subheader {
    padding: 120px 0 70px;
}

.faq_subheader h2 {
    font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 45px;
color: #182538;
}

.faq_subheader p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
margin-top: 12px;
color: #919AA3;
}

.questions_wrapper {
    width: 70%;
    margin: 70px 15% 100px;
}

.question_container {
    border-bottom: 1px solid #C4C4C4;
}

.main_questions_answer p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 225%;
color: rgb(49, 49, 49);
}

.main_questions h5 {
    font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 33px;
color: #006599;
}

.main_questions_answer {
    padding: 5px 0 20px;
    display: none;
}

.main_questions {
    padding: 15px 0;
}

.ques_header {
    cursor: pointer;
}

.faq_part {
    padding-bottom: 100px;
}