.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../utils/images/eventBanner.png);
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div>h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

.site_post_page_section {
    padding: 120px 0;
}

div.post_content {
    width: 75%;
    /* background-color: blue; */
    /* height: 200px; */
    padding-right: 70px;
}

div.post_content>div.post_texts p {
    margin: 20px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #898D92;
}

div.post_share {
    width: 20%;
    /* background-color: red; */
}

div.post_coments {
    margin: 90px 0;
    padding-right: 100px;
}

div.post_coments h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

div.each_comments {
    margin: 30px 0;
}

.coment_header_text {
    padding-bottom: 20px;
}

div.commentor_image {
    width: 10%;
}

div.coment_part {
    width: 85%;
}

div.commentor_image_div {
    width: 76px;
    height: 76px;
    background-color: #c4c4c4;
    border-radius: 50%;
}

div.commentor_name {
    padding-bottom: 15px;
}

div.commentor_name>h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344248;
}

div.commentor_comment>p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 190%;
    color: #898D92;
}

div.form_header_text>h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

div.comment_form {
    width: 65%;
    margin-right: 35%;
}

button.btn_post_comment {
    background: #006599;
    border-radius: 10px;
    width: 192px;
    height: 48px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    border: none;

    transition: .4s;
}

button.btn_post_comment:hover {
    background-color: #024c71;
}

.post_share_part_title {
    margin-bottom: 15px;
}

.post_share_part_title>h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #B2B7BC;
}

.share_on_facebook>i {
    color: #1976D2;
}

.share_on_whatsapp>i {
    color: #4CAF50;
}

.share_on_twitter>i {
    color: #03A9F4;
}

.each_share {
    padding: 20px 0;
    border-bottom: 1px dashed #E3E6EA;
    cursor: pointer;
}

div[class*="share_on_"]>i {
    margin: 0 20px 0 10px;
    font-size: 40px;
    transition: .5s;
}

div[class*="share_on_"]>span {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #898D92;
    transition: .5s;
}

.each_share:hover>i {
    color: #898D92;
}

.share_on_twitter:hover>span {
    color: #03A9F4;
}

.share_on_facebook:hover>span {
    color: #1976D2;
}

.share_on_whatsapp:hover>span {
    color: #4CAF50;
}