.each_blog_post {
    width: 20%;
    margin: 0 2.5%;
    margin-bottom: 70px;
}

.each_blog_post .blog_post_image {
    height: 270px;
    border-radius: 5px 5px 0 0;
    width: 100%;

    position: relative;
}

.blog_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--blog_img_overlay);
    transition: .6s;
    top: 0;
    left: 0;
}

.each_blog_post .blog_post_image:hover .blog_overlay {
    opacity: 1;
    z-index: 1;
}

.each_blog_post .blog_post_image img {
    height: 100%;
    width: 100%;
}

.blog_post_title {
    width: 100%;
    padding: 30px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 31, 33, 0.95);
}

.blog_post_readMore {
    width: 100%;
}

.blog_post_readMore a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: rgba(31, 31, 33, 0.95);
    font-weight: 500;
    position: relative;
}

.blog_post_readMore a:hover {
    text-decoration: none;
}

.blog_post_readMore a:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 160%;
    left: 0;
    bottom: -10px;
    background-color: #2D2E2C;

    transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.blog_post_readMore a:hover:after {
    width: 100%;
}

.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(../../utils/images/eventBanner.png);
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.otherpages_header_color {
    color: #FF9934 !important;
}
.banner_content_div {
    width: 70%;
    color: #fff;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}