.top_header {
    padding: 100px 0;
}

p.page_sub_text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #919AA3;
    margin-top: 25px;
}

section.paragraphs p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 225%;
    color: #919AA3;
    margin-bottom: 35px;
}

.hed h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #182538;
    margin-bottom: 25px;
}

section.last_privacy_section {
    padding-bottom: 100px;
}