.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div > h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

.event_header {
    padding: 150px 0 100px;
}

.event_header h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 138.1%;
    color: var(--site_blue);
}

.birthDay_sect {
    padding-bottom: 200px;
}

.events_img > div {
    width: 30.33%;
    margin: 10px 1.5%;
    float: left;
}

.events_img > div > img {
    width: 100%;
    height: 390px;
    border-radius: 6px 6px 0 0;
}

