.event_banner {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../utils/images/eventBanner.png");
    height: 338px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.banner_content_div {
    width: 70%;
    color: #fff;
}

.otherpages_header_color {
    color: #FF9934 !important;
}

.banner_content_div>h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    line-height: 150%;
}

section.servicesss {
    padding: 120px 0;
}

.servicesss_headeer {
    margin-bottom: 90px;
}

.servicesss_headeer h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 138.1%;
    color: #006599;
}

.products_n_servies>div {
    width: 33.3333%;
}

.products_n_servies div {
    /* padding-bottom: 40px; */
}

.products_n_servies>div h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #FF9934;
    margin-bottom: 30px;
}

.products_n_servies>div ul {
    list-style-type: none;
    padding: 0 !important;
}

.products_n_servies>div ul li {
    margin-bottom: 15px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(31, 31, 33, 0.95);
}

section.index_services_sec {
    padding: 140px;
    background: rgba(0, 101, 153, 0.05);
}

.index_services {

    overflow: auto;

}

.index_services_header h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    color: #006599;
}

.index_services_header p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 169.4%;
    color: #344248;
    margin-top: 25px;
}

.index_services_header {
    margin-bottom: 50px;
}

.each_serv {
    width: 23%;
    margin: 10px 1%;
    padding: 40px;
    background-color: #FCFCFC;
    /* text-align: center; */

    /* float: left; */
}

.each_serv p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #344248;
}

.for_testimonial {
    padding: 120px 0 0px;
}

.for_testimonial_header h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 138.1%;
    color: #006599;
}

.vbvb {
    /* height: 300px; */

    background: rgba(137, 141, 146, 0.1);
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.1);
    overflow: auto;

    display: flex;
    flex-flow: row wrap;
}

section.buy_insurances {
    padding-bottom: 150px;
}

.buy_insurances_wrapper {
    width: 100%
}

.newvbvb {
    box-shadow: none;
    background-color: #fff;
}

.each_insurance {
    width: 33.20%;
    /* height: 200px; */
    overflow: auto;
    margin: 0 calc((33.333% - 33.20%) / 2) 1.5px;
    background-color: #fff;
    float: left;

    padding: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.each_insurance h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #006599;
}

.each_insurance p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
    margin: 15px 0 35px;
}

.each_insurance a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #006599;
    transition: .5s;
}

.each_insurance a:hover {
    text-decoration: none;
    color: #FF9934;
}

.each_insurance_img {
    padding-right: 40px;
}

.for_servv {
    position: relative;
    overflow: hidden;

    background-color: #006599
}

.for_servv h4 {
    color: #fff;
}

.ser_description {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    /* background-color: #040a0ea1; */
    transition: .4s;

    transform: translateY(100%);

    padding: 15px 20px;

    background-color: #fff;

    overflow-y: scroll;


}

.ser_description_head {
    padding-bottom: 15px;
}

.ser_description_head p {
    margin: 0 !important;
    font-size: 17px;
    font-weight: 500;
    color: #FF9934;
}

.ser_description span {
    color: #006599 !important;
    font-size: 17px;
    display: block;
    font-weight: 500;
}

.blu_color {}

.for_servv:hover .ser_description {
    transform: translateY(0);
}

.tooltip_container {
    position: relative;
    cursor: pointer;
}

.tooltiptext {
    /* visibility: hidden; */
    display: none;
    position: absolute;

    opacity: 0;
    width: 200px;

    transition-property: opacity;
    transition-duration: 0.4s;

    top: 120%;
    left: 0;

    background-color: #006599;

    padding: 5px 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 1;

}

.tooltiptext p,
.tooltiptext ul li {
    color: #fff;
    font-size: 10px;
    line-height: 120%;
    margin-bottom: 10px;
}

.tooltiptext ul li {
    color: rgb(182, 182, 182);
    font-size: 10px;
    line-height: 120%;
    margin-bottom: 10px;
}

.tooltiptext ul {
    padding-left: 10px;
}

.tooltip_container:hover .tooltiptext {
    /* visibility: visible; */
    display: block;
    opacity: 1;
}

.tooltip_container:hover .tooltiptext:after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 15px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #006599 transparent;
}

.each_insurance_img {
    padding-right: 40px;
}

.services_modal_body {
    padding: 60px;
    color: white;

    /* background: linear-gradient(rgba(12, 2, 39, 0.945), rgba(12, 2, 39, 0.884), rgba(0,0,0,0.83)), url("../../utils/images/mod2.jpg"); */
    background: linear-gradient(rgba(0, 102, 153, 0.752), rgba(0, 102, 153, 0.711), rgba(0, 102, 153, 0.541)), url("../../utils/images/mod3.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.services_modal_body h4 {
    font-size: 30px;
    /* color: #ff9934;    */
}

.services_modal_body p {
    line-height: 180%;
    margin-bottom: 20px;
    font-size: 18px;
}

.services_modal_body_header {
    padding-bottom: 40px;
    text-transform: uppercase;
}